slurm_roles: ['exec']

add_hosts_head: yes
add_hosts_galaxy: yes

attached_volumes:
  - device: /dev/vdb
    path: /mnt
    fstype: ext4
    partition: 1
    label: msdos

shared_mounts:
    - path: /mnt/galaxy
      src: dev:/mnt/galaxy
      fstype: nfs
      state: mounted

# Interactive Tools
docker_install_compose: false
docker_users:
  - "{{ galaxy_user.name }}"
docker_daemon_options:
  data-root: /mnt/docker-data

# Golang
golang_gopath: '/var/workspace-go'
# Singularity target version
singularity_version: "3.7.4"
singularity_go_path: "{{ golang_install_dir }}"
