
auth_key_user: ubuntu

head_nodes: "{{ groups['dev_slurm_head'] }}"
worker_nodes: "{{ groups['dev_workers'] }}"
galaxy_nodes: "{{ groups['dev_galaxy_server'] }}"
handler_nodes: "{{ groups['dev_handlers'] }}"

add_galaxy_user: true #Adds the galaxy user to all machines that have slurm on them

# SLURM
slurm_nodes:
    - name: dev-w1
      NodeAddr: "{{ hostvars['dev-w1']['ansible_ssh_host'] }}"
      CPUs: 16
      RealMemory: 64000
      State: UNKNOWN
    - name: dev-w2
      NodeAddr: "{{ hostvars['dev-w2']['ansible_ssh_host'] }}"
      CPUs: 16
      RealMemory: 64000
      State: UNKNOWN
    - name: dev-queue
      NodeAddr: "{{ hostvars['dev-queue']['ansible_ssh_host'] }}"
      CPUs: 2
      RealMemory: 3300
      State: UNKNOWN
    - name: dev
      NodeAddr: "{{ hostvars['dev']['ansible_ssh_host'] }}"
      CPUs: 4
      RealMemory: 7780
      State: UNKNOWN
    - name: dev-handlers
      NodeAddr:  "{{ hostvars['dev-handlers']['ansible_ssh_host'] }}"
      CPUs: 4
      RealMemory: 7780
      State: UNKNOWN

slurm_partitions:
    - name: main
      nodes: "dev-w1,dev-w2"
      Default: YES
      MaxTime: '30-00:00:00'
      State: UP
    - name: cvmfs
      nodes: "dev-w1"
      Default: NO
      MaxTime: '30-00:00:00'
      State: UP
    - name: s3fs
      nodes: "dev-w2"
      Default: NO
      MaxTime: '30-00:00:00'
      State: UP

slurm_config:
    #SlurmDBd includes
    AccountingStorageType: accounting_storage/slurmdbd
    AccountingStorageHost: localhost
    JobAcctGatherType: jobacct_gather/linux
    ControlMachine: dev-queue
    SlurmctldPidFile: /run/slurmctld.pid
    SlurmdPidFile: /run/slurmd.pid
    # SCHEDULING
    FastSchedule: 2
    SchedulerType: sched/backfill
    SelectType: select/cons_res
    SelectTypeParameters: CR_CPU_Memory,CR_LLN

slurm_munge_key: files/keys/munge.key
