slurm_roles: ["exec"]

add_hosts_head: yes
add_hosts_galaxy: yes

attached_volumes:
  - device: /dev/vdb
    path: /mnt
    fstype: ext4
    partition: 1

galaxy_worker_mounts:
  - path: /mnt/galaxy
    src: "{{ hostvars['galaxy-misc-nfs']['internal_ip'] }}:/mnt/ghost-galaxy-app"
    fstype: nfs
    state: mounted

# TODO: check list concatenation with versions of ansible > 2.12
shared_mounts: "{{ galaxy_server_and_worker_shared_mounts + galaxy_worker_mounts }}" # sourced from galaxy_etca.yml

# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs # TODO: Uncomment as soon as there is a volume
cvmfs_quota_limit: 20000

# Docker
docker_install_compose: false
docker_users:
  - "{{ galaxy_user.name }}"
docker_daemon_options: # TODO: Uncomment as soon as there is a volume
  data-root: /mnt/docker-data

# internal ssh keys
extra_keys:
  - id: internal_hop_key
    type: public
    from: "{{ hostvars['galaxy']['internal_ip'] }},{{ hostvars['galaxy-backup']['internal_ip'] }},{{ hostvars['galaxy-queue']['internal_ip'] }}"
