slurm_roles: ['exec']

add_hosts_head: yes
add_hosts_galaxy: yes

attached_volume_device: /dev/vdc
attached_volume_fstype: ext4
attached_volume_path: /mnt

shared_mounts:
    - path: /mnt/galaxy
      src: "{{ hostvars['pawsey-misc-nfs']['internal_ip'] }}:/mnt/ghost-galaxy-app"
      fstype: nfs
      state: mounted
    - path: /mnt/tools-indices
      src: "{{ hostvars['pawsey-misc-nfs']['internal_ip'] }}:/mnt/tools-indices"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data
      src: "{{ hostvars['pawsey-user-nfs']['internal_ip'] }}:/mnt/user-data"
      fstype: nfs
      state: mounted
    - path: /mnt/tmp
      src: "{{ hostvars['pawsey-job-nfs']['internal_ip'] }}:/mnt/tmp"
      fstype: nfs
      state: mounted
    - path: /mnt/files
      src: "galaxy-aust-exports.genome.edu.au:/Q0028_files"
      fstype: nfs
      state: mounted
    - path: /mnt/files2
      src: "galaxy-aust-exports.genome.edu.au:/mnt/files2"
      fstype: nfs
      state: mounted

# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs