hostname: "{{ ansible_hostname }}.gvl.org.au"

galaxy_uid: 10010
galaxy_gid: 10010

use_internal_ips: true

influx_url: stats.usegalaxy.org.au
grafana_server_url: "https://{{ influx_url }}:8086"

install_python_311: True

# Do not use telegraf for now. If we do, qaai database needs to be created.
# # Monitoring
# telegraf_agent_output:
#   - type: influxdb
#     config:
#       - urls = ["{{ grafana_server_url }}"]
#       - database = "qaai"
#       - precision = "s"
#       - username = "node"
#       - password = "{{ vault_qaai_influx_node_password }}"

galaxy_db_user_password: "{{ vault_qaai_db_user_password }}"
galaxy_db_reader_password: "{{ vault_qaai_db_reader_password }}"
galaxy_db_tiaasadmin_password: "{{ vault_qaai_db_tiaasadmin_password }}"
galaxy_db_tiaas_password: "{{ vault_qaai_db_tiaas_password }}"

__machine_users:
    # special users range
    - name: jenkins_bot
      uid: 7000
      roles:
        - sudo
        - galaxy_admin
      key: files/keys/jenkins_bot.pub
      email: "{{ jenkins_bot_email }}" # this is not a real email address and will cause issues if validation is required

    # infrastructure team
    - name: justin
      uid: 7011
      roles:
        - sudo
        - galaxy_admin
      key: files/keys/justin.pub
      email: "{{ justin_email }}"
    - name: cat
      uid: 7012
      roles:
        - sudo
        - galaxy_admin
      key: files/keys/catherine.pub
      email: "{{ cat_email }}"
    - name: nuwan
      uid: 7013
      roles:
        - sudo
        - galaxy_admin
      key: files/keys/nuwan.pub
      galaxy_admin: true
      email: "{{ nuwan_email }}"

    - name: igor
      uid: 7101
      roles:
        - galaxy_admin
      key: files/keys/igor.pub
      email: "{{ igor_email }}"
    - name: gareth
      uid: 7102
      roles:
        - galaxy_admin
      key: files/keys/gareth.pub
      email: "{{ gareth_email }}"

# Control whether AAI settings are being used
aai_enabled: true  # No OIDC variables yet so set this to false for initial run

aaf_enabled: false