
auth_key_user: ubuntu

head_nodes: "{{ groups['staging_slurm_head'] }}"
worker_nodes: "{{ groups['staging_workers'] }}"
galaxy_nodes: "{{ groups['staging_galaxy_server'] }}"

add_galaxy_user: true #Adds the galaxy user to all machines that have slurm on them

# SLURM
slurm_nodes:
    - name: staging-w1
      NodeAddr: "{{ hostvars['staging-w1']['ansible_ssh_host'] }}"
      CPUs: 4
      RealMemory: 7780
      State: UNKNOWN
    - name: staging-queue
      NodeAddr: "{{ hostvars['staging-queue']['ansible_ssh_host'] }}"
      CPUs: 2
      RealMemory: 3300
      State: UNKNOWN
    - name: staging
      NodeAddr: "{{ hostvars['staging']['ansible_ssh_host'] }}"
      CPUs: 4
      RealMemory: 7780
      State: UNKNOWN

slurm_partitions:
    - name: main
      nodes: "staging-w1"
      Default: YES
      MaxTime: '30-00:00:00'
      State: UP

slurm_config:
    #SlurmDBd includes
    AccountingStorageType: accounting_storage/slurmdbd
    AccountingStorageHost: localhost
    JobAcctGatherType: jobacct_gather/linux
    ControlMachine: staging-queue
    SlurmctldPidFile: /run/slurmctld.pid
    SlurmdPidFile: /run/slurmd.pid
    # SCHEDULING
    FastSchedule: 2
    SchedulerType: sched/backfill
    SelectType: select/cons_res
    SelectTypeParameters: CR_CPU,CR_LLN

slurm_munge_key: files/keys/munge.key
