{% load static %}

<div class="container logo">
  <div class="text-center">
    <a href="https://www.biocommons.org.au" target="_blank">
      <img src="{% static 'footer/au-biocommons.png' %}" />
    </a>

    <a href="https://www.qcif.edu.au" target="_blank">
      <img src="{% static 'footer/qcif.png' %}" />
    </a>

    <a href="https://www.melbournebioinformatics.org.au" target="_blank">
      <img src="{% static 'footer/melb-bio-short.png' %}" />
    </a>

    <a href="https://www.aarnet.edu.au" target="_blank">
      <img src="{% static 'footer/aarnet.png' %}" />
    </a>
  </div>

  <div class="text-center second">
    <a href="https://www.uq.edu.au" target="_blank">
      <img src="{% static 'footer/uq-grayscale.png' %}" />
    </a>

    <a href="https://ardc.edu.au" target="_blank">
      <img src="{% static 'footer/ardc-grayscale.png' %}" />
    </a>

    <a href="https://www.unimelb.edu.au" target="_blank">
      <img src="{% static 'footer/uni-melbourne.png' %}" />
    </a>

    <a href="https://bioplatforms.com" target="_blank">
      <img src="{% static 'footer/bpa-grayscale.png' %}" />
    </a>

    <a href="https://nci.org.au" target="_blank">
      <img src="{% static 'footer/nci-grayscale.png' %}" />
    </a>

    <a href="https://pawsey.org.au" target="_blank">
      <img src="{% static 'footer/pawsey-grayscale.png' %}" />
    </a>

    <a href="https://www.dese.gov.au/ncris" target="_blank">
      <img src="{% static 'footer/ncris-grayscale.png' %}" />
    </a>

    <a href="https://www.qld.gov.au" target="_blank">
      <img src="{% static 'footer/qld-gov.png' %}" />
    </a>
  </div>
</div>


<div class="container links">
  <hr>
  <div class="row" id="footer-links-row">
    <div class="col" id="footer-galaxy-logo">
      <a href="/">
        <img
        src="{% static 'footer/galaxy-black.svg' %}"
        alt="Galaxy logo black"
        >
      </a>
    </div>

    <div class="col-6">
      <h6>SITE LINKS</h6>
      <div class="row" id="footer-site-links">
        <div class="col-md-6">
          <small>
            <a href="/request">Support</a> <br>
            <a href="/about#acknowledgement-statement">Acknowledging Galaxy Australia</a> <br>
            <a href="/about#feature-catalogue">Feature catalogue</a> <br>
            <a href="/about#terms-of-service">Terms and conditions</a>
          </small>
        </div>

        <div class="col-md-6">
          <small>
            <a href="/about#data-privacy">Privacy and data collection</a> <br>
            <a href="/about#acceptable-use">Acceptable use</a> <br>
            <a href="/about#service-levels">Service levels</a>
          </small>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-md-6">
          <h6>ACKNOWLEDGEMENTS</h6>
          <p class="tight">
            <small>
              We acknowledge and pay respect to the Elders and Traditional Owners
              of the lands on which our partner organisations stand.
            </small>
          </p>
        </div>

        <div class="col-md-6">
          <h6>CONNECT</h6>
          <p>
            <a href="mailto:help@genome.edu.au">
              <i class="fas fa-envelope"></i>
            </a>

            <a href="https://github.com/usegalaxy-au" target="_blank">
              <i class="fab fa-github"></i>
            </a>

            <a href="https://twitter.com/galaxyaustralia" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
