.vault_pass.txt
venv
ansible.cfg
terraform/terraform*
terraform/.terraform
terraform/prod/.terraform
terraform/dev/.terraform
terraform/staging/.terraform
terraform/pawsey/.terraform
terraform/pawsey/terraform*

# from requirements.yml
roles/galaxyproject.galaxy/
roles/galaxyproject.nginx/
roles/galaxyproject.cvmfs/
roles/galaxyproject.postgresql/
# roles/galaxyproject.slurm/ # Commented out as we have made modifications to this role so slurmdbd installation works
# roles/galaxyproject.repos/ # Commented out as Simon made a modification so ppa is added to ubuntu 20.04
roles/geerlingguy.pip/
roles/geerlingguy.nfs/
roles/natefoo.postgresql_objects/
roles/uchida.miniconda/
roles/usegalaxy_eu.certbot/
roles/usegalaxy_eu.galaxy_systemd/
# roles/jasonroyle.rabbitmq # Commented out as we have made modifications to this role to update it for py3.
roles/insspb.hostname
roles/galaxyproject.pulsar
roles/dj-wasabi.telegraf
