- hosts: aarnet_dev_workers
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/aarnet-dev.yml
      - group_vars/VAULT
      - group_vars/aarnet-dev-slurm.yml
      - group_vars/aarnet-dev_workers.yml
  pre_tasks:
      - name: Attach volume to instance
      # If this script is being run for the first time, review the value of attached_volume_device in group_vars
        block: # TODO: This is pretty generic code for attaching a volume to a device and should probably live in another file to be reused
          - name: Detect attached volume
            parted:
              device: "{{ attached_volume_device }}"
              unit: GiB
            register: volume_info
          - name: Create a filesystem on volume
            filesystem:
              fstype: "{{ attached_volume_fstype }}"
              dev: "{{ attached_volume_device }}"
            when: volume_info.disk is defined and volume_info.disk.dev is defined and volume_info.disk.dev == attached_volume_device
          - name: Mount volume
            mount:
              path: "{{ attached_volume_path }}"
              src: "{{ attached_volume_device }}"
              fstype: "{{ attached_volume_fstype }}"
              state: mounted
        when: attached_volume_device is defined
  roles:
      - common
      - insspb.hostname
      - geerlingguy.pip
      - mounts
      - galaxyproject.repos
      - galaxyproject.slurm
      - galaxyproject.cvmfs
      - dj-wasabi.telegraf
      - geerlingguy.docker
  post_tasks:
      - name: restart munge
        systemd:
            name: munge
            state: restarted
      - name: Move /tmp to mounted disk
        block:
          - name: Create worker tmpdir on mounted disk
            file:
                path: /mnt/tmpdisk
                state: directory
                owner: root
                group: root
                mode: '1777'
          - name: stat links
            stat:
                path: /tmp
            register: links
          - name: remove old tmp
            file:
                path: /tmp
                state: absent
            when: links.stat.islnk is defined and not links.stat.islnk
          - name: Link /tmp to /mnt/tmpdisk
            file:
                src: /mnt/tmpdisk
                dest: /tmp
                state: link
            become: yes
            become_user: root
            when: links.stat.islnk is defined and not links.stat.islnk
        when: attached_volume_device is defined
