- hosts: aarnet_workers
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/aarnet.yml
      - group_vars/VAULT
      - group_vars/aarnet_slurm.yml
      - group_vars/aarnet_workers.yml
      - secret_group_vars/stats_server_vault
  pre_tasks:
      - name: Attach volume to instance
        include_role:
          name: attached-volumes
  roles:
      - common
      - insspb.hostname
      - geerlingguy.pip
      - mounts
      - galaxyproject.repos
      - galaxyproject.slurm
      - galaxyproject.cvmfs
      - dj-wasabi.telegraf
      - geerlingguy.docker
      - acl-on-startup
  post_tasks:
      - name: restart munge
        systemd:
            name: munge
            state: restarted
      - name: Move /tmp to vdc
        block:
          - name: Create worker tmpdir on vdc
            file:
                path: /mnt/tmpdisk
                state: directory
                owner: root
                group: root
                mode: '1777'
          - name: stat links
            stat:
                path: /tmp
            register: links
          - name: remove old tmp
            file:
                path: /tmp
                state: absent
            when: links.stat.islnk is defined and not links.stat.islnk
          - name: Link /tmp to /mnt/tmpdisk
            file:
                src: /mnt/tmpdisk
                dest: /tmp
                state: link
            become: yes
            become_user: root
            when: links.stat.islnk is defined and not links.stat.islnk
        when: attached_volumes is defined

