- hosts: aarnet_galaxy_server
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/aarnet.yml
    - group_vars/VAULT
    - group_vars/galaxyservers.yml
    - group_vars/aarnet_slurm.yml
    - host_vars/aarnet.usegalaxy.org.au.yml
    - secret_group_vars/stats_server_vault
    - secret_group_vars/ubuntu_maintenance_key
  handlers:
    - include: handlers/galaxy_handlers.yml
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
    - name: create dir for galaxy's singularity cache
      file:
        state: directory
        path: "{{ item }}"
        owner: galaxy
        group: galaxy
        mode: 0700
      with_items:
        - "{{ galaxy_user_singularity_cachedir }}"
        - "{{ galaxy_user_singularity_tmpdir }}"
    - name: Disable old tusd service
      systemd:
        name: 'tusd-main'
        enabled: false
        state: stopped
    - name: Create extra galaxy config folders
      file:
        state: directory
        path: "{{ item }}"
      with_items:
        - "{{ galaxy_config_dir }}/mail"
  roles:
    - galaxyproject.repos
    - common
    - install-tpv
    - mounts
    - geerlingguy.pip
    - galaxyproject.galaxy
    - role: galaxyproject.miniconda
      become: true
      become_user: galaxy
    # - usegalaxy_eu.galaxy_systemd
    - usegalaxy_eu.galaxy_subdomains
    - nginx-upload-module
    - galaxyproject.nginx
    - galaxyproject.tusd
    - geerlingguy.nfs
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - gantsign.golang
    - cyverse-ansible.singularity
    - geerlingguy.docker
    - acl-on-startup
    - dj-wasabi.telegraf
    - galaxyproject.gxadmin
    - pg-post-tasks
    - postfix-mail-relay
    - remote-pulsar-cron
    - delete-tmp-jwds-cron
    - slg.galaxy_stats
    - galaxy-pg-cleanup
    - galaxyproject.tiaas2
    - webhooks
  post_tasks:
    - name: Make local_tool directory group-writable by machine users
      file:
        path: "{{ galaxy_root }}/local_tools"
        owner: root
        group: devs
        mode: 0775
        state: directory
    - name: Install slurm-drmaa
      package:
        name: slurm-drmaa1
        state: latest
    - name: Uninstall the existing web-dav-client
      pip:
        name: "webdavclient3"
        virtualenv: "{{ galaxy_venv_dir }}"
        state: absent
    - name: Workaround content-length header bug in webdav through update to newer version
      pip:
        name: "webdavclient3@git+https://github.com/ezhov-evgeny/webdav-client-python-3@0f17fa7946e66f7963db367d0d6b2e7f940ebeb8"
        virtualenv: "{{ galaxy_venv_dir }}"
    - name: Reload exportfs
      command: exportfs -ra
      become: yes
      become_user: root
    - name: setup lsyncd
      package:
        name: lsyncd
        state: present
    - name: create lsync dirs
      file:
        path: "{{ item }}"
        state: directory
      with_items:
        - /etc/lsyncd
        - /var/log/lsyncd
    - name: config lsyncd
      copy:
        src: lsyncd/lsyncd.conf.lua
        dest: /etc/lsyncd/lsyncd.conf.lua
      become: yes
    - name: Set max_user_watches
      command: sysctl fs.inotify.max_user_watches=524288
      become: true
    - name: restart lsyncd
      systemd:
        name: lsyncd
        state: restarted
