- hosts: dev-pulsar
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/dev.yml
    - group_vars/pulsarservers.yml
    - group_vars/dev_pulsar_slurm.yml
    - group_vars/VAULT
    - host_vars/dev-pulsar.usegalaxy.org.au.yml
    - secret_group_vars/ubuntu_maintenance_key
    - secret_group_vars/stats_server_vault
  pre_tasks:
    - name: apt update
      apt:
        cache_valid_time: 3600
        update_cache: yes
      when: ansible_os_family == "Debian"
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - galaxyproject.repos
    - gantsign.golang
    - cyverse-ansible.singularity
    - role: galaxyproject.miniconda
      become: true
      become_user: "{{ pulsar_user.name }}"
    - galaxyproject.pulsar
    - geerlingguy.nfs
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - geerlingguy.docker
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    - acl-on-startup
