- hosts: dev_handlers_server
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/dev.yml
      - group_vars/VAULT
      - group_vars/galaxyservers.yml
      - group_vars/dev_slurm.yml
      - host_vars/dev.usegalaxy.org.au.yml
      - host_vars/dev-handlers.usegalaxy.org.au.yml
      - secret_group_vars/ubuntu_maintenance_key
      - secret_group_vars/dev_secrets
  handlers:
    - name: galaxy gravity restart
      command: "{{ galaxy_venv_dir }}/bin/galaxyctl -c {{ galaxy_config_file }} graceful"
      listen: "restart galaxy"
  pre_tasks:
    - name: copy job_conf file
      template:
        src: "{{ galaxy_config_template_src_dir }}/config/dev_job_conf.yml.j2"
        dest: "{{ galaxy_config_dir }}/job_conf.yml"
      notify: restart galaxy
    - name: Install dynamic job rules (static) # dynamic job rules tasks copied from https://github.com/galaxyproject/ansible-galaxy/blob/main/tasks/static_setup.yml
      copy:
        src: "{{ galaxy_dynamic_job_rules_src_dir }}/{{ item }}"
        dest: "{{ galaxy_dynamic_job_rules_dir }}/{{ item }}"
        mode: 0644
      with_items: "{{ galaxy_dynamic_job_rules }}"
      notify: restart galaxy
      when: not item.endswith(".j2")
    - name: Install dynamic job rules (template)
      template:
        src: "{{ galaxy_dynamic_job_rules_src_dir }}/{{ item }}"
        dest: "{{ galaxy_dynamic_job_rules_dir }}/{{ item | regex_replace(regex) }}"
        mode: 0644
      vars:
        regex: '\.j2$'
      with_items: "{{ galaxy_dynamic_job_rules }}"
      notify: restart galaxy
      when: item.endswith(".j2")
    - name: "Copy local tool configuration file to dev"
      copy:
        src: "{{ galaxy_config_file_src_dir }}/config/local_tool_conf_dev.xml"
        dest: "{{ galaxy_config_dir }}/local_tool_conf.xml" 
