- hosts: dev_galaxy_server
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/dev.yml
      - group_vars/VAULT
      - group_vars/galaxyservers.yml
      - group_vars/dev_slurm.yml
      - host_vars/dev.usegalaxy.org.au.yml
      - secret_group_vars/ubuntu_maintenance_key
      - secret_group_vars/dev_secrets
  vars:
    - tpv_files:
      - default_tool.yml
      - vortex_config.yml
      - reservation_destinations.yml
  handlers:
    - name: galaxy gravity restart
      become: True
      become_user: galaxy
      command: "{{ galaxy_venv_dir }}/bin/galaxyctl graceful"
      environment:
        GRAVITY_STATE_DIR: "{{ galaxy_gravity_state_dir }}"
  pre_tasks:
    - name: copy job_conf file
      template:
        src: "{{ galaxy_config_template_src_dir }}/config/dev_job_conf.yml.j2"
        dest: "{{ galaxy_config_dir }}/job_conf.yml"
      notify: galaxy gravity restart
    - name: Copy tpv files to dev
      copy:
        src: "files/galaxy/dynamic_job_rules/dev/total_perspective_vortex/{{ item }}"
        dest: "{{ galaxy_dynamic_job_rules_dir }}/total_perspective_vortex/{{ item }}"
      with_items: "{{ tpv_files }}"
    - name: "Copy local tool configuration file to dev"
      copy:
        src: "{{ galaxy_config_file_src_dir }}/config/local_tool_conf_dev.xml"
        dest: "{{ galaxy_config_dir }}/local_tool_conf.xml" 
