- hosts: galaxyservers
  become: true
  pre_tasks:
    # The following 3 tasks are for mounting the volume attached to the galaxy
    # application server.  If this script is being run for the first time,
    # review the value of galaxyserver_attached_volume_device in group_vars
    - name: Detect attached volume
      parted:
        device: "{{ galaxyserver_attached_volume_device }}"
        unit: GiB
      register: volume_info
    - name: Create a ext4 filesystem on volume
      filesystem:
        fstype: "{{ galaxyserver_attached_volume_fstype }}"
        dev: "{{ galaxyserver_attached_volume_device }}"
      when: volume_info.disk is defined and volume_info.disk.dev is defined and volume_info.disk.dev == galaxyserver_attached_volume_device
    - name: Mount volume
      mount:
        path: "{{ galaxyserver_attached_volume_path }}"
        src: "{{ galaxyserver_attached_volume_device }}"
        fstype: "{{ galaxyserver_attached_volume_fstype }}"
        state: mounted
  # roles:
  #   - common
