- hosts: dev_galaxy_server
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/dev.yml # machine_users overridden in this file
    - group_vars/VAULT
    - group_vars/galaxyservers.yml
    - group_vars/dev_slurm.yml
    - host_vars/dev.gvl.org.au.yml
    - secret_group_vars/ubuntu_maintenance_key
    - secret_group_vars/stats_server_vault
    - secret_group_vars/dev_secrets
    - secret_group_vars/sentry_vault
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
    - name: create dir for gravity configuration
      file:
        state: directory
        path: /opt/galaxy
        owner: root
        group: galaxy
        mode: 0775
    - name: create dir for galaxy's singularity cache
      file:
        state: directory
        path: "{{ item }}"
        owner: galaxy
        group: galaxy
        mode: 0700
      with_items:
        - "{{ galaxy_user_singularity_cachedir }}"
        - "{{ galaxy_user_singularity_tmpdir }}"
    - name: Create extra galaxy config folders
      file:
        state: directory
        path: "{{ item }}"
      with_items:
        - "{{ galaxy_config_dir }}/mail"
    - name: Disable old tusd service
      systemd:
        name: 'tusd-main'
        enabled: false
        state: stopped
  roles:
    - galaxyproject.repos
    - common
    - mounts
    - install-tpv
    - geerlingguy.pip
    - gantsign.golang
    - cyverse-ansible.singularity
    - galaxyproject.galaxy
    - role: galaxyproject.miniconda
      become: true
      become_user: galaxy
    #- usegalaxy_eu.galaxy_subdomains # broken in galaxy release_23.1 - missing static/style/base.css
    - webhooks
    - nginx-upload-module
    - galaxyproject.nginx
    - galaxyproject.tusd
    - geerlingguy.nfs
    - galaxyproject.slurm
    # - galaxyproject.s3fs
    - galaxyproject.cvmfs
    - galaxyproject.gxadmin
    - pg-post-tasks
    - remote-pulsar-cron
    - galaxy-pg-cleanup
    #- galaxyproject.tiaas2 # broken in galaxy release_23.1 - missing static/style/base.css
    - geerlingguy.docker
    - dj-wasabi.telegraf
    - postfix-mail-relay
    #- login-override
    - acl-on-startup
  post_tasks:
    - name: Ensure object store paths exist
      file:
        state: directory
        path: "{{ item }}"
        owner: galaxy
        group: galaxy
      with_items:
        - /mnt/galaxy/data
        - /mnt/galaxy/data-2
        - /mnt/galaxy/data-3
    - name: Make local_tool directory group-writable by machine users
      file:
        path: /mnt/galaxy/local_tools
        owner: root
        group: devs
        mode: 0775
        state: directory
    - name: Install slurm-drmaa
      package:
        name: slurm-drmaa1
    - name: Uninstall the existing web-dav-client
      pip:
        name: "webdavclient3"
        virtualenv: "{{ galaxy_venv_dir }}"
        state: absent
    - name: Workaround content-length header bug in webdav through forcible update to newer version
      pip:
        name: "webdavclient3@git+https://github.com/ezhov-evgeny/webdav-client-python-3@0f17fa7946e66f7963db367d0d6b2e7f940ebeb8"
        virtualenv: "{{ galaxy_venv_dir }}"
    - name: Reload exportfs
      command: exportfs -ra
      become: yes
      become_user: root

