- hosts: galaxy-user-nfs
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/galaxy_etca.yml
    - group_vars/VAULT
    - group_vars/nfs_servers.yml
    - host_vars/galaxy-user-nfs.usegalaxy.org.au.yml
    - secret_group_vars/stats_server_vault
    - secret_group_vars/ubuntu_maintenance_key
  pre_tasks:
    # - name: Attach volumes to instance # handle user nfs mounting manually
    #   include_role:
    #     name: attached-volumes
    - name: Ensure galaxy nfs user data directories exist
      file:
        path: "{{ item }}"
        state: directory
      with_items: "{{ nfs_dirs }}"
  roles:
      - common
      - insspb.hostname
      - geerlingguy.pip
      - geerlingguy.nfs
      - dj-wasabi.telegraf
  post_tasks:
    - name: Chown shared dirs to Galaxy user
      file:
        path: "{{ item }}"
        owner: galaxy
        group: galaxy
      with_items: "{{ nfs_dirs }}"
    - name: Reload exportfs
      command: exportfs -ra
      become: yes
      become_user: root
        
