- hosts: pawsey_galaxy_server
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/pawsey.yml
      - group_vars/VAULT
      - group_vars/galaxyservers.yml
      - group_vars/pawsey_slurm.yml
      - host_vars/pawsey.usegalaxy.org.au.yml
      - secret_group_vars/stats_server_vault
      - secret_group_vars/ubuntu_maintenance_key
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
  handlers:
    - name: Restart Galaxy
      systemd:
        name: galaxy
        state: restarted
  roles:
    - galaxyproject.repos
    - common
    - install-tpv
    - mounts
    - galaxyproject.postgresql
    - role: natefoo.postgresql_objects
      become: true
      become_user: postgres
    - geerlingguy.pip
    - galaxyproject.galaxy
    - role: galaxyproject.miniconda
      become: true
      become_user: galaxy
    - usegalaxy_eu.galaxy_systemd
    - nginx-upload-module
    - galaxyproject.nginx
    - geerlingguy.nfs
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - galaxyproject.gxadmin
    - geerlingguy.docker
    - usegalaxy_eu.gie_proxy
    - pg-post-tasks
    - remote-pulsar-cron
    - galaxy-pg-cleanup
    - usegalaxy_eu.tiaas2
    # - slg.galaxy_stats
  post_tasks:
    - name: Clone galaxy-local-tools
      git:
        repo: https://github.com/usegalaxy-au/galaxy-local-tools
        dest: "{{ galaxy_server_dir }}/tools/galaxy-local-tools"
        update: yes
    - name: Install slurm-drmaa
      package:
        name: slurm-drmaa1
        state: latest
    - name: Reload exportfs
      command: exportfs -ra
      become: yes
      become_user: root
    - name: setup lsyncd
      package:
        name: lsyncd
        state: present
    - name: create lsync dir
      file:
        path: /etc/lsyncd
        state: directory
    - name: config lsyncd
      copy:
        src: lsyncd/lsyncd.conf.lua
        dest: /etc/lsyncd/lsyncd.conf.lua
      become: yes
    - name: restart lsyncd
      systemd:
        name: lsyncd
        state: restarted
    - name: add symlink for files mount
      file:
        src: /mnt/files
        dest: /mnt/galaxy/files
        state: link
    - name: add FACL for docker.sock
      acl:
        path: /var/run/docker.sock
        entity: "{{ galaxy_user.name }}"
        etype: user
        permissions: rw
        state: present
