- hosts: pawsey_workers
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/pawsey.yml
      - group_vars/VAULT
      - group_vars/pawsey_slurm.yml
      - group_vars/pawsey_workers.yml
  pre_tasks:
      - name: Attach volume to instance
      # If this script is being run for the first time, review the value of attached_volume_device in group_vars
        block: # TODO: This is pretty generic code for attaching a volume to a device and should probably live in another file to be reused
          - name: Detect attached volume
            parted:
              device: "{{ attached_volume_device }}"
              unit: GiB
            register: volume_info
          - name: Create a filesystem on volume
            filesystem:
              fstype: "{{ attached_volume_fstype }}"
              dev: "{{ attached_volume_device }}"
            when: volume_info.disk is defined and volume_info.disk.dev is defined and volume_info.disk.dev == attached_volume_device
          - name: Mount volume
            mount:
              path: "{{ attached_volume_path }}"
              src: "{{ attached_volume_device }}"
              fstype: "{{ attached_volume_fstype }}"
              state: mounted
        when: attached_volume_device is defined
  roles:
      - common
      - insspb.hostname
      - geerlingguy.pip
      - mounts
      - galaxyproject.repos
      - galaxyproject.slurm
      - galaxyproject.cvmfs
      - dj-wasabi.telegraf
  post_tasks:
      - name: restart munge
        systemd:
            name: munge
            state: restarted
      - name: Move /tmp to vdc
        block:
          - name: Create worker tmpdir on vdc
            file:
                path: /mnt/tmpdisk
                state: directory
                owner: root
                group: root
                mode: 1777
          - name: Move /tmp to vdc
            command: "rm -r /tmp && ln -s /mnt/tmpdisk /tmp"
            become: yes
            become_user: root
        when: attached_volume_device is defined
