- name: Pulsar PAW worker node install
  hosts: pulsar_paw_workers
  become: yes
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsarservers.yml
    - group_vars/pulsar_paw/pulsar-paw.yml
    - group_vars/pulsar_paw/pulsar-paw_workers.yml
    - group_vars/pulsar_paw/pulsar-paw_slurm.yml
    - group_vars/VAULT
    - secret_group_vars/stats_server_vault
  roles:
      - common
      - insspb.hostname
      - galaxyproject.slurm
      - mounts
      - galaxyproject.repos
      - galaxyproject.cvmfs
      - cyverse-ansible.singularity
      - dj-wasabi.telegraf
      - geerlingguy.docker
      - acl-on-startup
      - dj-wasabi.telegraf
  post_tasks:
      - name: Restart munge service
        service:
            name: munge
            state: restarted