- hosts: pulsar_qld_himems
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsarservers.yml
    - group_vars/VAULT
    - secret_group_vars/stats_server_vault
      #    - host_vars/pulsar-high-mem2/pulsar-high-mem2.yml
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - galaxyproject.repos
    - galaxyproject.pulsar
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    # - slg.galaxy_stats
  post_tasks:
    - name: Create worker tmpdir on /mnt
      file:
          path: /mnt/tmpdisk
          state: directory
          owner: root
          group: root
          mode: '1777'
    - name: stat links
      stat:
          path: /tmp
      register: links
    - name: remove old tmp
      file:
          path: /tmp
          state: absent
      when: links.stat.islnk is defined and not links.stat.islnk
    - name: Link /tmp to /mnt/tmpdisk
      file:
          src: /mnt/tmpdisk
          dest: /tmp
          state: link
      become: yes
      become_user: root
      when: links.stat.islnk is defined and not links.stat.islnk
