- hosts: pulsar-nci-test
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsar-nci-test/pulsar-nci-test.yml
    - group_vars/pulsarservers.yml
    - group_vars/pulsar-nci-test/pulsar-nci-test_slurm.yml
    - group_vars/VAULT
    - host_vars/pulsar-nci-test/pulsar-nci-test.usegalaxy.org.au.yml
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - galaxyproject.repos
    - role: galaxyproject.miniconda
      become: true
      become_user: "{{ pulsar_user.name }}"
    - galaxyproject.pulsar
    - geerlingguy.nfs
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - gantsign.golang
    - cyverse-ansible.singularity
    - geerlingguy.docker
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    - acl-on-startup
    # - slg.galaxy_stats
  post_tasks:
    - name: Reload exportfs
      command: exportfs -ra
    
