- hosts: pulsar_qld_himems
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsarservers.yml
    - group_vars/VAULT
    - secret_group_vars/stats_server_vault
    - secret_group_vars/ubuntu_maintenance_key
      #    - host_vars/pulsar-high-mem2/pulsar-high-mem2.yml
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
    - name: Create pulsar deps path
      file:
        path: "{{ pulsar_dependencies_dir }}"
        state: directory
        owner: "{{ pulsar_user.name }}"
        group: "{{ pulsar_user.name }}"
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - galaxyproject.repos
    - role: galaxyproject.miniconda
      become: true
      become_user: "{{ pulsar_user.name }}"
    - galaxyproject.pulsar
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - gantsign.golang
    - cyverse-ansible.singularity
    - geerlingguy.docker
    - acl-on-startup
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    - slg.galaxy_stats
    # - clean-tmpdisk
  post_tasks:
    - name: Create worker tmpdir on /mnt
      file:
          path: /mnt/tmpdisk
          state: directory
          owner: root
          group: root
          mode: '1777'
    - name: stat links
      stat:
          path: /tmp
      register: links
    - name: remove old tmp
      file:
          path: /tmp
          state: absent
      when: links.stat.islnk is defined and not links.stat.islnk
    - name: Link /tmp to /mnt/tmpdisk
      file:
          src: /mnt/tmpdisk
          dest: /tmp
          state: link
      become: yes
      become_user: root
      when: links.stat.islnk is defined and not links.stat.islnk
    - name: limit processes spawned by slurm jobs on qld-pulsar-himem-2
      #  limit number of slurm cgroup processes to prevent mothur forking to infinity
      lineinfile:
          path: /lib/systemd/system/slurmd.service
          regexp: "^TasksMax="
          line: "TasksMax=5000"
      when: inventory_hostname.endswith('himem-2')
    - name: reload systemd manager configuration for changes to take effect
      systemd:
          state: restarted
          daemon_reload: yes
          name: slurmd
      when: inventory_hostname.endswith('himem-2')
    - name: Update max_map_count to 1,000,000 for maxquant on himem-1
      command:
        cmd: sysctl -w vm.max_map_count=1000000
      when: inventory_hostname.endswith('himem-1')

