- hosts: pulsar_azure_0_head
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsarservers.yml
    - group_vars/VAULT
    - secret_group_vars/stats_server_vault
    - host_vars/pulsar_azure_0.yml
    - secret_group_vars/dev_secrets
  # pre_tasks:
  #   - name: Attach volume to instance
  #     include_role:
  #       name: attached-volumes
  roles:
    # - common
    # - insspb.hostname
    # - geerlingguy.pip
    # - galaxyproject.repos
    # - role: galaxyproject.miniconda
    #   become: true
    #   become_user: "{{ pulsar_user.name }}"
    - galaxyproject.pulsar
    # - mariadb
    # - galaxyproject.slurm
    # - galaxyproject.cvmfs
    # - dj-wasabi.telegraf
    # - pulsar-post-tasks
    # - slurm-post-tasks
    - slg.galaxy_stats
