- name: Pulsar NCI Training Head Node
  hosts: pulsar_nci_training_head
  become: true
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
    - name: get rid of cloudinit entry in fstab
      lineinfile:
        path: /etc/fstab
        regexp: "\/dev\/vdb\\s+\/mnt.*"
        state: absent
    - name: Create pulsar deps path
      file:
        path: "{{ pulsar_dependencies_dir }}"
        state: directory
        owner: "{{ pulsar_user.name }}"
        group: "{{ pulsar_user.name }}"
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsar_nci_training/pulsar-nci-training.yml
    - group_vars/pulsarservers.yml
    - group_vars/pulsar_nci_training/pulsar-nci-training_slurm.yml
    - group_vars/VAULT
    - host_vars/pulsar-nci-training/pulsar-nci-training.usegalaxy.org.au.yml
    - secret_group_vars/stats_server_vault
    - secret_group_vars/ubuntu_maintenance_key
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - galaxyproject.repos
    - role: galaxyproject.miniconda
      become: true
      become_user: "{{ pulsar_user.name }}"
    - galaxyproject.pulsar
    - geerlingguy.nfs
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - gantsign.golang
    - cyverse-ansible.singularity
    - geerlingguy.docker
    - acl-on-startup
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    # - slg.galaxy_stats
  post_tasks:
    - name: Reload exportfs
      command: exportfs -ra
