- hosts: pulsar-QLD
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsar_QLD/pulsar-QLD.yml
    - group_vars/pulsarservers.yml
    - group_vars/pulsar_QLD/pulsar-QLD_slurm.yml
    - group_vars/VAULT
    - host_vars/pulsar-QLD/pulsar-QLD.genome.edu.au.yml
    - secret_group_vars/stats_server_vault
    - secret_group_vars/ubuntu_maintenance_key
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
    - name: Create pulsar deps path
      file:
        path: "{{ pulsar_dependencies_dir }}"
        state: directory
        owner: "{{ pulsar_user.name }}"
        group: "{{ pulsar_user.name }}"
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - mounts
    - galaxyproject.repos
    - role: galaxyproject.miniconda
      become: true
      become_user: "{{ pulsar_user.name }}"
    - galaxyproject.pulsar
    - geerlingguy.nfs
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - usegalaxy_eu.apptainer
    - geerlingguy.docker
    - acl-on-startup
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    - slg.galaxy_stats
  post_tasks:
    - name: Reload exportfs
      command: exportfs -ra
