- hosts: pulsar-mel3
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/pulsar_mel3/pulsar-mel3.yml
    - group_vars/pulsarservers.yml
    - group_vars/pulsar_mel3/pulsar-mel3_slurm.yml
    - group_vars/VAULT
    - host_vars/pulsar-mel3/pulsar-mel3.genome.edu.au.yml
  pre_tasks:
    - name: apt update
      apt:
        cache_valid_time: 3600
        update_cache: yes
      when: ansible_os_family == "Debian"
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
  roles:
    - common
    - insspb.hostname
    - geerlingguy.pip
    - galaxyproject.repos
    - galaxyproject.pulsar
    - geerlingguy.nfs
    - mariadb
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - dj-wasabi.telegraf
    - pulsar-post-tasks
    - slurm-post-tasks
    - slg.galaxy_stats
  post_tasks:
    - name: Make sure link from /mnt/pulsar/files to /mnt/files exists
      file:
        src: /mnt/files
        dest: /mnt/pulsar/files
        state: link
        owner: ubuntu
        group: ubuntu
    - name: Reload exportfs
      command: exportfs -ra
