- hosts: pulsar-QLD-job-nfs
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/pulsar_QLD/pulsar-QLD.yml
      - group_vars/pulsar_QLD/pulsar-QLD_slurm.yml
      - group_vars/VAULT
      - group_vars/nfs_servers.yml
      - host_vars/pulsar-QLD/pulsar-QLD-job-nfs.genome.edu.au.yml
      - secret_group_vars/stats_server_vault
      - secret_group_vars/ubuntu_maintenance_key
  pre_tasks:
      - name: Attach volume to instance
        include_role:
          name: attached-volumes
      - name: Create galaxy_user_data_dir directory
        file:
          path: "{{ galaxy_job_dir }}"
          state: directory
  roles:
      - common
      - insspb.hostname
      - geerlingguy.pip
      - geerlingguy.nfs
  post_tasks:
      - name: Chown shared dirs to ubuntu user
        file:
          path: "{{ galaxy_job_dir }}"
          owner: ubuntu
          group: ubuntu
          recurse: yes
      - name: Reload exportfs
        command: exportfs -ra
        become: yes
        become_user: root
        
