- hosts: staging_galaxy_server
  become: true
  vars_files:
    - group_vars/all.yml
    - group_vars/staging.yml
    - group_vars/VAULT
    - group_vars/galaxyservers.yml
    - group_vars/staging_slurm.yml
    - host_vars/staging.gvl.org.au.yml
    - secret_group_vars/stats_server_vault
  pre_tasks:
    # - name: Attach volume to instance
    #   include_role:
    #     name: attached-volumes
    - name: create dir for galaxy's singularity cache
      file:
        state: directory
        path: "{{ item }}"
        owner: galaxy
        group: galaxy
        mode: 0700
      with_items:
        - "{{ galaxy_user_singularity_cachedir }}"
        - "{{ galaxy_user_singularity_tmpdir }}"
  roles:
    - galaxyproject.repos
    - common
    - install-tpv
    - geerlingguy.pip
    - galaxyproject.galaxy
    - role: galaxyproject.miniconda
      become: true
      become_user: galaxy
    - usegalaxy_eu.galaxy_subdomains
    - webhooks
    - nginx-upload-module
    - galaxyproject.nginx
    - galaxyproject.tusd
    - geerlingguy.nfs
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - gantsign.golang
    - cyverse-ansible.singularity
    - geerlingguy.docker
    - acl-on-startup
    - galaxyproject.gxadmin
    - dj-wasabi.telegraf
    - postfix-mail-relay
    - role: usegalaxy_eu.walle
      tags: walle
  post_tasks:
    - name: Ensure object store paths exist
      file:
        state: directory
        path: "{{ item }}"
        owner: galaxy
        group: galaxy
      with_items:
        - /mnt/galaxy/data
        - /mnt/galaxy/data-2
        - /mnt/galaxy/data-3
    - name: Install slurm-drmaa
      package:
        name: slurm-drmaa1
    - name: Reload exportfs
      command: exportfs -ra
      become: yes
      become_user: root
