- hosts: staging_slurm_head
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/rabbitservers.yml
      - group_vars/VAULT
      - host_vars/staging-queue.usegalaxy.org.au.yml
      - group_vars/staging_slurm.yml
  roles:
      - common
      - insspb.hostname
      - geerlingguy.pip
      - jasonroyle.rabbitmq
      - galaxyproject.nginx
      - mariadb
      - galaxyproject.repos
      - galaxyproject.slurm
