- hosts: staging_galaxy_server
  become: true
  vars_files:
      - group_vars/all.yml
      - group_vars/staging.yml
      - group_vars/VAULT
      - group_vars/galaxyservers.yml
      - group_vars/staging_slurm.yml
      - host_vars/staging.usegalaxy.org.au.yml
      - secret_group_vars/stats_server_vault
  pre_tasks:
    - name: Attach volume to instance
      include_role:
        name: attached-volumes
  handlers:
    - name: Restart Galaxy
      systemd:
        name: galaxy
        state: restarted
  roles:
    - galaxyproject.repos
    - common
    - install-tpv
    - galaxyproject.postgresql
    # - role: natefoo.postgresql_objects
    #   become: true
    #   become_user: postgres
    - geerlingguy.pip
    - galaxyproject.galaxy
    - role: galaxyproject.miniconda
      become: true
      become_user: galaxy
    - usegalaxy_eu.galaxy_systemd
    - nginx-upload-module
    - galaxyproject.nginx
    - galaxyproject.tusd
    - geerlingguy.nfs
    - galaxyproject.slurm
    - galaxyproject.cvmfs
    - gantsign.golang
    - cyverse-ansible.singularity
    - dev-tiaas2
    - geerlingguy.docker
    - acl-on-startup
    - galaxyproject.gxadmin
    - usegalaxy_eu.gie_proxy
    - dj-wasabi.telegraf
    - pg-post-tasks
  post_tasks:
    - name: Clone galaxy-local-tools
      git:
        repo: https://github.com/usegalaxy-au/galaxy-local-tools
        dest: "{{ galaxy_server_dir }}/tools/galaxy-local-tools"
        update: yes
    - name: Install slurm-drmaa
      package:
        name: slurm-drmaa1
    - name: Reload exportfs
      command: exportfs -ra
      become: yes
      become_user: root
    - name: set acl for galaxy user on docker.sock
      acl:
        path: /var/run/docker.sock
        entity: "{{ galaxy_user.name }}"
        etype: user
        permissions: rw
        state: present
