---
- name: Install slurm-drmaa
  package:
    name: slurm-drmaa1
    state: present
  when: install_drmaa is defined and install_drmaa
- name: own the pulsar_root dir as ubuntu
  file:
      path: "{{ pulsar_root }}"
      owner: ubuntu
      group: ubuntu
      state: directory
      mode: 0755
- name: own the pulsar_tools_indices_dir as ubuntu
  file:
      path: "{{ pulsar_tools_indices_dir }}"
      owner: ubuntu
      group: ubuntu
      state: directory
      mode: 0750
- name: restart munge
  systemd:
    name: munge
    state: restarted
