---
salt: {{ influx_salt }}
pgconn:
    main: {{ connection_string }}
influxdb:
    host: {{ influx_url }}
    database: queues
    ssl: true
    username: node
    password: {{ vault_influx_node_password }}