---
salt: {{ influx_salt }}
{% if stats_db_password is defined %}
pgconn:
    main: postgres://{{ stats_db_user }}:{{ stats_db_password }}@{{ stats_db_server }}:{{ stats_db_port }}/{{ stats_database }}
{% endif %}
influxdb:
    host: {{ influx_url }}
    database: queues
    ssl: true
    verify_ssl: true
    username: node
    password: {{ vault_influx_node_password }}