---
salt: {{ influx_salt }}
pgconn:
    main: "{{ connection_string }}"
influxdb:
    host: {{ influx_url }}
    database_queue: {{ influx_db_queue }}
    database_utilisation: {{ influx_db_utilisation }}