hostname: "{{ ansible_hostname }}.genome.edu.au"

attached_volumes:
  - device: /dev/vdb
    path: /mnt
    fstype: ext4
  - device: /dev/vdc
    path: /mnt/pulsar/files
    fstype: ext3
    partition: 1

#NFS shares

nfs_exports:
    - "{{ pulsar_custom_indices_dir }}  *(rw,async,no_root_squash,no_subtree_check)"
    - "/mnt/pulsar  *(rw,async,no_root_squash,no_subtree_check)"
    - "/mnt/pulsar/files *(rw,async,no_root_squash,no_subtree_check)"

# Keys and shares

create_ssh_key: yes  # Only the first time.
ssl_country: "AU"
ssl_state: "Vic"
ssl_location: "Melbourne"
ssl_organisation: "Galaxy Australia"
ssl_operational_unit: "Pulsar Mel2"
ssl_email: "help@genome.edu.au"

#host specific pulsar settings

rabbitmq_password_galaxy_au: "{{ vault_rabbitmq_password_galaxy_mel2_prod }}"
pulsar_queue_url: "pawsey-queue.usegalaxy.org.au"
pulsar_rabbit_username: "galaxy_mel2"
pulsar_rabbit_vhost: "/pulsar/galaxy_mel2"

pulsar_conda_exec: "mamba"  # Use mamba as replacement for conda

extra_keys:
  - id: ubuntu_maintenance_key
    type: public
    from: "{{ hostvars['pawsey']['ansible_ssh_host'] }}"

# docker
docker_daemon_options:
  data-root: /mnt/docker-data
