# Vault password in Shared Devops

admin_email:          <str>
admin_password:       <str>
postgres_db_password: <str>
django_secret_key:    <str>
smtp_password:        <str>
slack_error_api_key:  <str>
slack_api_urls:       <str>, <str>  
recaptcha_secret_key: <str>
recaptcha_site_key:   <str>
galaxy_api_key:       <str>
