# Vault password in Shared Devops

vault_gms_admin_email:          <str>
vault_gms_admin_password:       <str>
vault_gms_postgres_db_password: <str>
vault_gms_django_secret_key:    <str>
vault_gms_smtp_password:        <str>
vault_gms_slack_error_api_key:  <str>
vault_gms_slack_api_urls:       <str>  # comma-separated list
vault_gms_recaptcha_site_key:   <str>
vault_gms_recaptcha_secret_key: <str>
vault_gms_galaxy_api_key:       <str>
vault_gms_sentry_dns_url:       <str>
