STAGING_GALAXY_API_KEY="{{ vault_jenkins_bot_staging_api_key }}"
STAGING_GALAXY_BASEURL="https://staging.gvl.org.au/api/"
PROD_GALAXY_API_KEY="{{ vault_jenkins_bot_production_api_key }}"
PROD_GALAXY_BASEURL="https://usegalaxy.org.au/api/"

GALAXY_USER_EP="users"
GALAXY_GROUP_EP="groups/"
GALAXY_GROUP_USER_EP="/users"

SLACK_TOKEN="{{ vault_history_mailer_slack_token }}"
SLACK_ALERT_CHANNEL="#alerts"
SLACK_LOG_CHANNEL="#galaxy-logs"
SLACK_ALERT_MENTIONS=""
SLACK_LOG_MENTIONS=""
