---
data_dir: /var/lib/vector

sources:
  nginx_logs_raw:
    type: file
    include:
      - "{{ vector_nginx_log_file }}"

  nginx_error_logs:
    type: file
    include:
      - "{{ vector_nginx_error_log_file }}"

transforms:
  parsed_nginx_logs:
    inputs:
      - nginx_logs_raw
    type: remap
    source: |
      .parsed = parse_nginx_log!(.message, "combined")

  nginx_logs_cleaned:
    inputs:
      - parsed_nginx_logs
    type: filter
    condition:
      type: vrl
      source: |
        agent = string(.parsed.agent) ?? "-"
        referer = string(.parsed.referer) ?? "-"
        request = string(.parsed.request) ?? "-"

        # Require a user agent and referer
        if agent == "-" || referer == "-" {
          false
        } else if match_any(agent, [

          # Exclude known bot/scanner user agents
          r'(?i)phpunit',
          r'(?i)libredtail-http',
          r'(?i)CensysInspect',
          r'(?i)spider',
          r'(?i)bot'

          ]) {
          false
        } else if match_any(request, [

          # Exclude spam/malicious paths
          r'/vendor',
          r'/phpunit',
          r'\.php\?',
          r'/wp-content/',
          r'/cgi-bin/'

          ]) {
          false
        } else if match_any(request, [

          # Exclude noisy Galaxy messages
          r'GET /api/invocations/',
          r'GET /api/histories/',
          r'GET /history/current_history_json',
          r'GET /api/entry_points\?running=true',
          r'GET /static/'

          ]) {
          false
        } else {
          true
        }

  nginx_logs_workflow_invocations:
    inputs:
      - parsed_nginx_logs
    type: filter
    condition:
      type: vrl
      source: |
        request = string(.parsed.request) ?? ""
        match(request, r'^POST /api/workflows/[a-f0-9]+/invocations ')

  nginx_logs_tool_runs:
    inputs:
      - parsed_nginx_logs
    type: filter
    condition:
      type: vrl
      source: |
        request = string(.parsed.request) ?? ""
        match(request, r'^POST /api/tools/.+/build ')

sinks:
{% for transform in [
  'nginx_logs_cleaned',
  'nginx_logs_workflow_invocations',
  'nginx_logs_tool_runs',
] %}
  debug_{{ transform }}:
    inputs:
      - {{ transform }}
    type: file
    path: "{{ vector_log_dir }}/{{ transform }}.log"
    encoding:
      codec: json
{% endfor %}

  s3_raw:
    inputs:
      - nginx_logs_raw
    type: aws_s3
    bucket: "{{ vector_s3_bucket }}"
    region: "{{ vector_s3_region }}"
    key_prefix: "{{ vector_s3_key_prefix }}raw/%Y/%m/%d/"
    filename_time_format: "%H%M%S"
    compression: "{{ vector_s3_compression }}"
{% if vector_s3_endpoint %}
    endpoint: "{{ vector_s3_endpoint }}"
{% endif %}
    auth:
      access_key_id: "{{ vector_s3_access_key_id }}"
      secret_access_key: "{{ vector_s3_secret_access_key }}"
    encoding:
      codec: text
    framing:
      method: newline_delimited
    batch:
      timeout_secs: 3600    # 1 hour
      max_bytes: 100000000  # 100 MB

  s3_cleaned:
    inputs:
      - nginx_logs_cleaned
    type: aws_s3
    bucket: "{{ vector_s3_bucket }}"
    region: "{{ vector_s3_region }}"
    key_prefix: "{{ vector_s3_key_prefix }}cleaned/%Y/%m/%d/"
    filename_time_format: "%H%M%S"
    compression: "{{ vector_s3_compression }}"
{% if vector_s3_endpoint %}
    endpoint: "{{ vector_s3_endpoint }}"
{% endif %}
    auth:
      access_key_id: "{{ vector_s3_access_key_id }}"
      secret_access_key: "{{ vector_s3_secret_access_key }}"
    encoding:
      codec: json
    framing:
      method: newline_delimited
    batch:
      timeout_secs: 3600    # 1 hour
      max_bytes: 100000000  # 100 MB

  s3_workflow_invocations:
    inputs:
      - nginx_logs_workflow_invocations
    type: aws_s3
    bucket: "{{ vector_s3_bucket }}"
    region: "{{ vector_s3_region }}"
    key_prefix: "{{ vector_s3_key_prefix }}workflow_invocations/%Y/%m/%d/"
    filename_time_format: "%H%M%S"
    compression: "{{ vector_s3_compression }}"
{% if vector_s3_endpoint %}
    endpoint: "{{ vector_s3_endpoint }}"
{% endif %}
    auth:
      access_key_id: "{{ vector_s3_access_key_id }}"
      secret_access_key: "{{ vector_s3_secret_access_key }}"
    encoding:
      codec: json
    framing:
      method: newline_delimited
    batch:
      timeout_secs: 3600    # 1 hour
      max_bytes: 100000000  # 100 MB

  s3_tool_runs:
    inputs:
      - nginx_logs_tool_runs
    type: aws_s3
    bucket: "{{ vector_s3_bucket }}"
    region: "{{ vector_s3_region }}"
    key_prefix: "{{ vector_s3_key_prefix }}tool_runs/%Y/%m/%d/"
    filename_time_format: "%H%M%S"
    compression: "{{ vector_s3_compression }}"
{% if vector_s3_endpoint %}
    endpoint: "{{ vector_s3_endpoint }}"
{% endif %}
    auth:
      access_key_id: "{{ vector_s3_access_key_id }}"
      secret_access_key: "{{ vector_s3_secret_access_key }}"
    encoding:
      codec: json
    framing:
      method: newline_delimited
    batch:
      timeout_secs: 3600    # 1 hour
      max_bytes: 100000000  # 100 MB

  s3_nginx_error_logs:
    inputs:
      - nginx_error_logs
    type: aws_s3
    bucket: "{{ vector_s3_bucket }}"
    region: "{{ vector_s3_region }}"
    key_prefix: "{{ vector_s3_key_prefix }}nginx_error_logs/%Y/%m/%d/"
    filename_time_format: "%H%M%S"
    compression: "{{ vector_s3_compression }}"
{% if vector_s3_endpoint %}
    endpoint: "{{ vector_s3_endpoint }}"
{% endif %}
    auth:
      access_key_id: "{{ vector_s3_access_key_id }}"
      secret_access_key: "{{ vector_s3_secret_access_key }}"
    encoding:
      codec: text
    framing:
      method: newline_delimited
    batch:
      timeout_secs: 3600    # 1 hour
      max_bytes: 100000000  # 100 MB
