[Unit]
Description=Gunicorn for Galaxy Labs Engine
Requires=labs_engine.socket
After=network.target

[Service]
User = root
Group = root
WorkingDirectory={{ project_root }}
ExecStart=docker compose -f {{ config_root }}/docker-compose.yml --profile prod up --remove-orphans
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
