# directories
rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ galaxy_tool_migration_dir }}/conda_envs \
    {{ galaxy_tool_migration_dir }}

rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_shed_tools_dir }} \
    {{ dest_shed_tools_dir | dirname }}

rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_tool_data_dir }} \
    {{ dest_tool_data_dir | dirname }}

{% if dest_custom_indices_dir is defined %}
rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_custom_indices_dir }} \
    {{ dest_custom_indices_dir | dirname }}
{% endif %}

# managed files
rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_allowlist_file }} \
    {{ dest_allowlist_file | dirname }}

rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_shed_tool_conf_file }} \
    {{ dest_shed_tool_conf_file | dirname }}

rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_install_db_file }} \
    {{ dest_install_db_file | dirname }}

rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_shed_data_manager_conf_file }} \
    {{ dest_shed_data_manager_conf_file | dirname }}

rsync -e "ssh -i {{ ssh_key }} -o StrictHostKeyChecking=no" -av \
    galaxy@{{ source_galaxy_ip }}:{{ source_shed_tool_data_table_conf_file }} \
    {{ dest_shed_tool_data_table_conf_file | dirname }}
