hostname: "{{ ansible_hostname }}.usegalaxy.org.au"

# Keys and shares

create_ssh_key: yes  # Only the first time.
ssl_country: "AU"
ssl_state: "Vic"
ssl_location: "Melbourne"
ssl_organisation: "Galaxy Australia"
ssl_operational_unit: "Pulsar High Mem1"
ssl_email: "help@genome.edu.au"

#host specific pulsar settings

rabbitmq_password_galaxy_au: "{{ vault_rabbitmq_password_galaxy_hm1_prod }}"
pulsar_queue_url: "galaxy-queue.usegalaxy.org.au"
pulsar_rabbit_username: "galaxy_hm1"
pulsar_rabbit_vhost: "/pulsar/galaxy_hm1"

galaxy_uid: 10010
galaxy_gid: 10010

use_internal_ips: false

# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs
cvmfs_quota_limit: 20000

#Monitoring for Staging. Once all VM monitoring has moved to stats.usegalaxy.org.au, this can be put in all.yml and removed here.
influx_url: stats.usegalaxy.org.au
grafana_server_url: "https://{{ influx_url }}:8086"

# Monitoring
telegraf_agent_output:
  - type: influxdb
    config:
      - urls = ["{{ grafana_server_url }}"]
      - database = "pulsar-special"
      - precision = "s"
      - username = "node"
      - password = "{{ vault_influx_node_password }}"

auth_key_user: ubuntu

head_nodes: "{{ groups['pulsar_high_mem1'] }}"

# 21/02/2022 revert to using conda because of mamba install errors
# # Use mamba as replacement for conda
pulsar_conda_exec: "mamba"

# SLURM
slurm_nodes:
    - name: pulsar-high-mem1
      NodeAddr: "{{ hostvars['pulsar-high-mem1']['ansible_ssh_host'] }}"
      CPUs: 126
      RealMemory: 3927300
      State: UNKNOWN

slurm_partitions:
    - name: main
      nodes: "pulsar-high-mem1"
      Default: YES
      MaxTime: INFINITE
      State: UP

slurm_controller_host: pulsar-high-mem1

slurm_munge_key: files/keys/munge.key

extra_keys:
  - id: ubuntu_maintenance_key
    type: public
    from: "{{ hostvars['galaxy']['ansible_ssh_host'] }},{{ hostvars['galaxy-handlers']['ansible_ssh_host'] }},{{ hostvars['galaxy-backup']['ansible_ssh_host'] }}"

# docker
docker_daemon_options:
  data-root: /mnt/docker-data
