server {
    # Listen on port 443
    listen        *:443 ssl default_server;
    # The virtualhost is our domain name
    server_name   "{{ inventory_hostname }}";

    # Our log files will go here.
    access_log  /var/log/nginx/access.log;
    error_log   /var/log/nginx/error.log;


    location /rabbitmq {
        proxy_pass http://localhost:15672/;
        rewrite ^/rabbitmq/(.*)$ /$1 break;
    }
}
