{{ logs_dir }}/*.log {
    daily
    rotate 6
    compress
    delaycompress
    missingok
    notifempty
    dateext
    create 0644 {{ reporting_user }} {{ reporting_user }}
    su {{ reporting_user }} {{ reporting_user }}
}
