slack_token: "{{ nfs_monitor_slack_token }}"
slack_channel: "{{ nfs_monitor_slack_channel }}"
sender: "{{ nfs_monitor_sender }}"

servers:
  {% for s in nfs_monitor_servers %}
  "{{ s.identifier }}": "{{ s.name }}"
  {% endfor %}

log_file: "{{ nfs_monitor_dir }}/logs/events.log"
state_dir: "{{ nfs_monitor_dir }}/state"
debounce_minutes: {{ nfs_monitor_debounce_minutes }}
