<?xml version="1.0"?>
<object_store type="hierarchical">
    <backends>
        <backend id="dev_objects_1" type="disk" order="0">
            <files_dir path="/mnt/galaxy/data" />
        </backend>
        <backend id="dev_objects_2" type="disk" order="1">
            <files_dir path="/mnt/galaxy/data-2" />
        </backend>
    </backends>
</object_store>

