handling:
  processes:
    main.job-handler.1:
    main.job-handler.2:
runners:
  dynamic:
    rules_module: dynamic_rules
  local:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4
  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner
  pulsar_embedded:
    load: galaxy.jobs.runners.pulsar:PulsarEmbeddedJobRunner
    pulsar_config: "{{ galaxy_config_dir }}/pulsar_app.yml"
  pulsar_au_01:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy_au:{{ vault_rabbitmq_password_galaxy_au_dev }}@dev-queue.usegalaxy.org.au:5671//pulsar/galaxy_au?ssl=1"
    galaxy_url: https://dev.usegalaxy.org.au
    manager: _default_
    amqp_acknowledge: true
    amqp_ack_republish_time: 300
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
  pulsar_nci_test_runner:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy_nci_test:{{ vault_rabbitmq_password_galaxy_nci_test }}@dev-queue.usegalaxy.org.au:5671//pulsar/galaxy_nci_test?ssl=1"
    galaxy_url: https://dev.usegalaxy.org.au
    manager: _default_
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
  pulsar_eu_gpu:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy_eu_gpu:{{ vault_rabbitmq_password_galaxy_eu_gpu }}@dev-queue.usegalaxy.org.au:5671//pulsar/galaxy_eu_gpu?ssl=1"
    galaxy_url: "https://dev.usegalaxy.org.au"
    manager: _default_
    amqp_acknowledge: True
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: True
    amqp_publish_retry_max_retries: 60
  pulsar_azure_0_runner:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy_azure_0:{{ vault_rabbitmq_password_galaxy_azure_0 }}@dev-queue.usegalaxy.org.au:5671//pulsar/galaxy_azure_0?ssl=1"
    galaxy_url: "https://dev.usegalaxy.org.au"
    manager: _default_
    amqp_acknowledge: True
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: True
    amqp_publish_retry_max_retries: 60
  pulsar_azure_1_runner:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://galaxy_azure_1:{{ vault_rabbitmq_password_galaxy_azure_1 }}@dev-queue.usegalaxy.org.au:5671//pulsar/galaxy_azure_1?ssl=1"
    galaxy_url: "https://dev.usegalaxy.org.au"
    manager: _default_
    amqp_acknowledge: True
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2.0
    amqp_publish_retry: True
    amqp_publish_retry_max_retries: 60
execution:
  default: tpv_dispatcher
  environments:
    local:
      runner: local
    tpv_dispatcher:
      runner: dynamic
      type: python
      function: map_tool_to_destination
      rules_module: tpv.rules
      tpv_config_files:
        - "{{ galaxy_dynamic_job_rules_dir }}/total_perspective_vortex/default_tool.yml"
        - "{{ galaxy_dynamic_job_rules_dir }}/total_perspective_vortex/interactive_tools.yml"
        - "{{ galaxy_dynamic_job_rules_dir }}/total_perspective_vortex/vortex_config.yml"
    dynamic_dtd:
      runner: dynamic
      type: dtd
    slurm:
      runner: slurm
      nativeSpecification: "--nodes=1 --ntasks=2 --ntasks-per-node=2 --mem=7760"
      singularity_enabled: false
      singularity_volumes: '{{ slurm_singularity_volumes }}'
      singularity_default_container_id: '{{ singularity_default_container_id }}'
      docker_enabled: false
      docker_sudo: false
      docker_volumes: '{{ slurm_docker_volumes }}'
    pulsar_destination:
      runner: pulsar_au_01
      jobs_directory: /mnt/pulsar/files/staging
      transport: curl
      remote_metadata: 'false'
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: remote
      rewrite_parameters: 'true'
      persistence_directory: /mnt/pulsar/files/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=2 --ntasks-per-node=2 --mem=7495"
      docker_enabled: false
      docker_sudo: false
      docker_volumes: '{{ pulsar_docker_volumes }}'
      docker_run_user: '1000'
      singularity_enabled: false
      singularity_volumes: '{{ pulsar_singularity_volumes }}'
      singularity_default_container_id: '{{ singularity_default_container_id }}'
      container_resolvers: 
        - type: explicit_singularity
        - type: mulled_singularity
      env:
        - name: SINGULARITY_CACHEDIR
          value: /mnt/pulsar/deps/singularity
        - name: SINGULARITY_TMPDIR
          value: /mnt/pulsar/deps/singularity/tmp
    pulsar-nci-test:
      runner: pulsar_nci_test_runner
      jobs_directory: /mnt/pulsar/files/staging
      transport: curl
      remote_metadata: 'false'
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: remote
      rewrite_parameters: 'true'
      persistence_directory: /mnt/pulsar/files/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=16 --ntasks-per-node=16 --mem=49350"
      docker_enabled: false
      docker_sudo: false
      docker_volumes: '{{ pulsar_docker_volumes }}'
      docker_run_user: '1000'
      singularity_enabled: false
      singularity_volumes: '{{ pulsar_singularity_volumes }}'
      singularity_default_container_id: '{{ singularity_default_container_id }}'
      container_resolvers: 
        - type: explicit_singularity
        - type: mulled_singularity
      env:
        - name: SINGULARITY_CACHEDIR
          value: /mnt/pulsar/deps/singularity
        - name: SINGULARITY_TMPDIR
          value: /mnt/pulsar/deps/singularity/tmp
    interactive_local:
      runner: local
      docker_enabled: true
      docker_volumes: $defaults
      docker_sudo: false
      docker_net: bridge
      docker_auto_rm: true
      docker_set_user: ''
      docker_require_container: true
    interactive_pulsar:
      runner: pulsar_embedded
      outputs_to_working_directory: false
      docker_enabled: true
      docker_volumes: $defaults
      docker_sudo: false
      docker_net: bridge
      docker_auto_rm: true
      docker_set_user: ''
      docker_require_container: true
      container_monitor_result: callback
    pulsar-eu-gpu-test:
      runner: pulsar_eu_gpu
      jobs_directory: /mnt/share/staging
      transport: curl
      remote_metadata: "false"
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: remote
      rewrite_parameters: "true"
      persistence_directory: /mnt/share/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=16 --ntasks-per-node=16 --mem=49350"
    pulsar-eu-gpu-alpha:
      runner: pulsar_eu_gpu
      jobs_directory: /mnt/share/staging
      transport: curl
      remote_metadata: "false"
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: 'none'
      rewrite_parameters: "true"
      persistence_directory: /mnt/share/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=16 --ntasks-per-node=16 --mem=49350"
      singularity_enabled: true
      singularity_run_extra_arguments: --nv
      singularity_volumes: "$job_directory:ro,$tool_directory:ro,$job_directory/outputs:rw,$working_directory:rw,/data/alphafold_databases:/data:ro"
    pulsar-azure-0-std:
      runner: pulsar_azure_0_runner
      jobs_directory: /mnt/pulsar/files/staging
      transport: curl
      remote_metadata: "false"
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: remote
      rewrite_parameters: "true"
      persistence_directory: /mnt/pulsar/files/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=8 --ntasks-per-node=8 --mem=32000"
    pulsar-azure-0-singularity:
      runner: pulsar_azure_0_runner
      jobs_directory: /mnt/pulsar/files/staging
      transport: curl
      remote_metadata: "false"
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      rewrite_parameters: "true"
      persistence_directory: /mnt/pulsar/files/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=8 --ntasks-per-node=8 --mem=32000"
      dependency_resolution: 'none'
      singularity_enabled: true
      singularity_run_extra_arguments: --nv
      singularity_volumes: "$job_directory:ro,$tool_directory:ro,$job_directory/outputs:rw,$working_directory:rw,/data/alphafold_databases:/data:ro"
      env:
        - name: LC_ALL
          value: C
        - name: SINGULARITY_CACHEDIR
          value: /data/alphafold_databases/singularity_cache
        - name: SINGULARITY_TMPDIR
          value: /data/alphafold_databases/singularity_tmp
        - name: APPTAINER_CACHEDIR
          value: /data/alphafold_databases/singularity_cache
        - name: APPTAINER_TMPDIR
          value: /data/alphafold_databases/singularity_tmp
    pulsar-azure-0-docker:
      runner: pulsar_azure_0_runner
      jobs_directory: /mnt/pulsar/files/staging
      transport: curl
      remote_metadata: "false"
      docker_enabled: true
      docker_volumes: '$job_directory:ro,$tool_directory:ro,$job_directory/outputs:rw,$working_directory:rw,/data/alphafold_databases:/data:ro'
      docker_memory: 105G
      docker_sudo: false
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: remote
      rewrite_parameters: "true"
      persistence_directory: /mnt/pulsar/files/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=8 --ntasks-per-node=8 --mem=32000"
      require_container: true
      docker_run_extra_arguments: "--gpus all"
      docker_set_user: '1000'
    pulsar-azure-1-std:
      runner: pulsar_azure_1_runner
      jobs_directory: /mnt/pulsar/files/staging
      transport: curl
      remote_metadata: "false"
      default_file_action: remote_transfer
      outputs_to_working_directory: false
      dependency_resolution: remote
      rewrite_parameters: "true"
      persistence_directory: /mnt/pulsar/files/persisted_data
      submit_native_specification: "--nodes=1 --ntasks=8 --ntasks-per-node=8 --mem=32000"

limits:
- type: anonymous_user_concurrent_jobs
  value: 1
- type: registered_user_concurrent_jobs
  value: 10
