type: distributed
search_for_missing: false
backends:
- id: dev_scratch
  device: dev_volume
  type: disk
  weight: 0
  store_by: uuid
  allow_selection: true
  private: false
  quota:
    source: scratch
  name: "{{ galaxy_scratch_storage_days }}-day scratch storage"
  description: "Data in {{ galaxy_scratch_storage_days }}-day Storage is scheduled for removal after {{ galaxy_scratch_storage_days }} days, but is afforded a much larger quota than Permanent Storage."
  files_dir: /mnt/galaxy/data-scratch
  badges:
    - type: not_backed_up
    - type: short_term
      message: "Data stored here is scheduled for removal after {{ galaxy_scratch_storage_days }} days of inactivity"
- id: dev_objects_3
  name: Dev object store folder 3
  device: dev_volume
  weight: 1
  type: disk
  store_by: uuid
  files_dir: /mnt/galaxy/data-3
  allow_selection: true
  extra_dirs:
  - type: temp
    path: /mnt/galaxy/tmp/scratch
  - type: job_work
    path: /mnt/galaxy/tmp/job_working_directory
- id: dev_objects_2
  weight: 0
  type: disk
  store_by: id
  files_dir: /mnt/galaxy/data-2
- id: dev_objects_1
  weight: 0
  type: disk
  store_by: id
  files_dir: /mnt/galaxy/data
- id: dev_aws_test
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/test_mount
{% if dev_object_store_nectar_test_backend_enabled|d(False) %}
- id: nectar_test
  type: swift
  weight: 0
  store_by: uuid
  auth:
    access_key: {{ vault_nectar_melbournegvl_cb_ec2_access_key }}
    secret_key: {{ vault_nectar_melbournegvl_cb_ec2_secret_key }}
  bucket:
    name: usegalaxy-au-object-store-backend-test
    use_reduced_redundancy: false
    max_chunk_size: 250
  connection:
    host: "swift.rc.nectar.org.au"
    port: 443
    is_secure: true
    conn_path: "/"
  cache:
    path: {{ galaxy_root }}/nectar_test_cache
    size: 20
    cache_updated_data: true
{% endif %}
