- type: webdav
  id: griffith_owncloud
  label: Griffith ownCloud
  doc: Import your files from ownCloud. Configure access in User -> Preferences -> Manage Information
  url: "https://research-storage.griffith.edu.au"
  root: "/owncloud/remote.php/nonshib-webdav"
  login: ${user.preferences['griffith_owncloud_account|username']}
  password: ${user.preferences['griffith_owncloud_account|password']}
  writable: true
  # Set the following settings to avoid loading entire files into memory
  # useful when dealing with big files
  use_temp_files: true
  temp_path: /mnt/tmp

- type: dropbox
  id: dropbox
  label: Dropbox
  doc: Your Dropbox files. Configure your access token via User -> Preferences -> Manage Information
  accessToken: ${user.preferences['dropbox|access_token']}

- type: s3fs
  label: Genome Ark
  id: genomeark
  doc: Access to Genome Ark open data on AWS.
  bucket: genomeark
  anon: true

- type: s3fs
  label: 1000 Genomes
  id: 1000genomes
  doc: Access to the 1000 Genomes Project with human genetic variation, including SNPs, structural variants, and their haplotype context.
  bucket: 1000genomes
  anon: true

- type: s3fs
  label: The Cancer Genome Atlas
  id: tcga-2-open
  doc: Access to the Cancer Genome Atlas (TCGA)
  bucket: tcga-2-open
  anon: true

- type: s3fs
  label: COVID-19 Data Lake
  id: covid19-lake
  doc: A centralized repository of up-to-date and curated datasets on or related to the spread and characteristics of the novel corona virus (SARS-CoV-2) and its associated illness, COVID-19
  bucket: covid19-lake
  anon: true

- type: s3fs
  label: Encyclopedia of DNA Elements (ENCODE)
  id: encode-public
  doc: The Encyclopedia of DNA Elements (ENCODE) Consortium is an international collaboration of research groups funded by the National Human Genome Research Institute (NHGRI)
  bucket: encode-public
  anon: true

- type: zenodo
  id: zenodo
  doc: Zenodo is a general-purpose open-access repository developed under the European OpenAIRE program and operated by CERN. It allows researchers to deposit data sets, research software, reports, and any other research-related digital artifacts. For each submission, a persistent digital object identifier (DOI) is minted, which makes the stored items easily citeable.
  label: Zenodo
  url: https://zenodo.org
  token: ${user.user_vault.read_secret('preferences/zenodo/token')}
  public_name: ${user.preferences['zenodo|public_name']}
  writable: true

- type: zenodo
  id: zenodo_sandbox
  doc: This is the Sandbox instance of Zenodo. It is used for testing purposes only, content is NOT preserved. DOIs created in this instance are not real and will not resolve.
  label: Zenodo Sandbox (TESTING ONLY)
  url: https://sandbox.zenodo.org
  token: ${user.user_vault.read_secret('preferences/zenodo_sandbox/token')}
  public_name: ${user.preferences['zenodo_sandbox|public_name']}
  writable: true

{% if inventory_hostname.startswith('dev') %}
- type: s3fs
  label: Galaxy Australia Archive Storage
  endpoint_url: https://swift.rc.nectar.org.au:443
  id: usegalaxy-au-archive-test
  bucket: usegalaxy-au-archive-test # use a different container for production
  doc: Galaxy Australia Archive Storage
  anon: false
  secret: {{ vault_nectar_melbournegvl_cb_ec2_secret_key }}
  key: {{ vault_nectar_melbournegvl_cb_ec2_access_key }}
  writable: true
{% endif %}