<?xml version="1.0"?>
<object_store type="distributed" id="primary" order="0">
    <backends>
        <backend id="data11" type="disk" weight="1" store_by="uuid">
            <files_dir path="/mnt/user-data-volA/data11" />
        </backend>
        <backend id="data10" type="disk" weight="0" store_by="uuid">
            <files_dir path="/mnt/user-data-volC/data10" />
        </backend>
        <backend id="data09" type="disk" weight="0" store_by="uuid">
            <files_dir path="/mnt/user-data-volB/data09" />
        </backend>
        <backend id="data08" type="disk" weight="0" store_by="uuid">
            <files_dir path="/mnt/user-data-volA/data08" />
        </backend>
        <backend id="aarnetNFS7" type="disk" weight="0" store_by="id">
            <files_dir path="/mnt/user-data-volA/user-data-7" />
        </backend>
        <backend id="aarnetNFS6" type="disk" weight="0" store_by="id">
            <files_dir path="/mnt/user-data-volB/user-data-6" />
        </backend>
        <backend id="aarnetNFS5" type="disk" weight="0" store_by="id">
            <files_dir path="/mnt/user-data-volA/user-data-5" />
        </backend>
{% if pawsey_file_mounts_available|d(True) %}
        <backend id="perthNFS1" type="disk" weight="0" store_by="id">
            <files_dir path="{{ pawsey_file_mounts_path }}/user-data" />
        </backend>
        <backend id="perthNFS4" type="disk" weight="0" store_by="id">
            <files_dir path="{{ pawsey_file_mounts_path }}/user-data-4" />
        </backend>
        <backend id="perthNFS2" type="disk" weight="0" store_by="id">
            <files_dir path="{{ pawsey_file_mounts_path }}/user-data-2" />
        </backend>
        <backend id="perthNFS3" type="disk" weight="0" store_by="id">
            <files_dir path="{{ pawsey_file_mounts_path }}/user-data-3" />
        </backend>
{% endif %}
{% if qld_file_mounts_available|d(True) %}
        <backend id="qldNFS1" type="disk" weight="0" store_by="id">
            <files_dir path="{{ qld_file_mounts_path }}/files" />
        </backend>
        <backend id="qldNFS2" type="disk" weight="0" store_by="id">
            <files_dir path="{{ qld_file_mounts_path }}/files2" />
        </backend>
{% endif %}
    </backends>
</object_store>

