type: distributed
search_for_missing: false
backends:
- id: data23
  weight: 1
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volD/data23
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data22
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data22
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data21
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volC/data21
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data20
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volB/data20
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data19
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data19
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data18
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data18
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data17
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volB/data17
  extra_dirs:
  - type: job_work
    path: /mnt/scratch/job_working_directory
- id: data16
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data16
  extra_dirs:
  - type: job_work
    path: /mnt/tmp/job_working_directory
- id: data15
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volB/data15
  extra_dirs:
  - type: job_work
    path: /mnt/tmp/job_working_directory
- id: data14
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data14
  extra_dirs:
  - type: job_work
    path: /mnt/tmp/job_working_directory
- id: data13
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volC/data13
- id: data12
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volB/data12
- id: data11
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data11
- id: data10
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volC/data10
- id: data09
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volB/data09
- id: data08
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/user-data-volA/data08
- id: aarnetNFS7
  weight: 0
  type: disk
  store_by: id
  files_dir: /mnt/user-data-volA/user-data-7

{% if pawsey_file_mounts_available|d(True) %}
- id: aarnetNFS6
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ pawsey_file_mounts_path }}/user-data/user-data-6
- id: aarnetNFS5
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ pawsey_file_mounts_path }}/user-data/user-data-5
- id: perthNFS1
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ pawsey_file_mounts_path }}/user-data
- id: perthNFS4
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ pawsey_file_mounts_path }}/user-data-4
- id: perthNFS2
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ pawsey_file_mounts_path }}/user-data-2
- id: perthNFS3
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ pawsey_file_mounts_path }}/user-data-3
{% endif %}
{% if qld_file_mounts_available|d(True) %}
- id: qldNFS1
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ qld_file_mounts_path }}/files
- id: qldNFS2
  weight: 0
  type: disk
  store_by: id
  files_dir: {{ qld_file_mounts_path }}/files/files2
{% endif %}

- id: minio_test
  weight: 0
  type: boto3
  store_by: uuid
  auth:
    access_key: {{ vault_galaxy_minio_access_key }}
    secret_key: {{ vault_galaxy_minio_secret_key }}
  bucket:
    name: galaxytest
  connection:
    endpoint_url: https://platforms-s3-poc.aarnet.edu.au
    # region: some services may make use of region is specified.
    # older style host, port, secure, and conn_path available to generic_s3 work
    # here also - Galaxy will just infer a endpoint_url from those.
  cache:
    path: /mnt/user-data-volD/minio_test_cache
    size: 200
    cache_updated_data: true
  # transfer:   # see transfer options for boto3 above in AWS configuration.
  extra_dirs:
    - type: job_work
      path: /mnt/scratch/job_working_directory
- id: aws_gateway_test
  weight: 0
  type: disk
  store_by: uuid
  files_dir: /mnt/aws_gateway/data-aws-1
  extra_dirs:
    - type: job_work
      path: /mnt/scratch/job_working_directory  
- id: nectar_test
  type: swift
  weight: 0
  store_by: uuid
  auth:
    access_key: {{ vault_nectar_melbournegvl_cb_ec2_access_key }}
    secret_key: {{ vault_nectar_melbournegvl_cb_ec2_secret_key }}
  bucket:
    name: usegalaxy-au-object-store-backend-test
    use_reduced_redundancy: false
    max_chunk_size: 250
  connection:
    host: "swift.rc.nectar.org.au"
    port: 443
    is_secure: true
    conn_path: "/"
  cache:
    path: /mnt/user-data-volD/nectar_test_cache
    size: 200
    cache_updated_data: true
  extra_dirs:
    - type: job_work
      path: /mnt/scratch/job_working_directory 
- id: aws_bucket_test
  type: boto3
  weight: 0
  store_by: uuid
  auth:
    access_key: {{ vault_aws_galaxytest_access_key }}
    secret_key: {{ vault_aws_galaxytest_secret_key }}
  bucket:
    name: ga-s3-test-230823
  connection:  # not strictly needed but more of the API works with this.
    region: ap-southeast-2
  cache:
    path: /mnt/user-data-volD/aws_bucket_test_cache
    size: 200
    cache_updated_data: true
  extra_dirs:
    - type: job_work
      path: /mnt/scratch/job_working_directory
- id: pawsey_s3
  type: generic_s3
  weight: 0
  store_by: uuid
  auth:
    access_key: {{ vault_pawsey_s3_test_access_key }}
    secret_key: {{ vault_pawsey_s3_test_secret_key }}
  bucket:
    name: galaxy-test
    use_reduced_redundancy: false
    max_chunk_size: 250
  connection:
    host: "projects.pawsey.org.au"
    port: 443
    is_secure: true
    conn_path: "/"
  cache:
    path: /mnt/user-data-volD/pawsey_s3_test_cache
    size: 200
    cache_updated_data: true
  extra_dirs:
    - type: job_work
      path: /mnt/scratch/job_working_directory
