<?xml version="1.0"?>
<object_store type="distributed" id="primary" order="0">
    <backends>
        <backend id="test01" type="disk" weight="1" store_by="uuid">
            <files_dir path="/mnt/user-data-test" />
        </backend>
    </backends>
</object_store>

