<?xml version="1.0"?>
<OIDC>
    <provider name="Keycloak">
        <label>AAF</label>
        <require_create_confirmation>true</require_create_confirmation>
        <url>{{ aaf_issuer_url }}</url>
        <client_id>{{ aaf_client_id }}</client_id>
        <client_secret>{{ aaf_client_secret }}</client_secret>
        <redirect_uri>{{ galaxy_config['galaxy']['galaxy_infrastructure_url'] }}/authnz/keycloak/callback</redirect_uri>
        <well_known_oidc_config_uri>{{ aaf_issuer_url }}.well-known/openid-configuration</well_known_oidc_config_uri>
        <icon>https://swift.rc.nectar.org.au/v1/AUTH_377/public/Galaxy/AAF_BTN_Sign_in_med_gradient_orange_FIN2020.png</icon>
    </provider>
</OIDC>
