<?xml version="1.0"?>
<object_store type="distributed" id="primary" order="0">
    <backends search_for_missing="false">
        <backend id="staging_objects_1" type="disk" weight="0" store_by="id">
            <files_dir path="/mnt/galaxy/data-2" />
        </backend>
        <backend id="staging_objects_2" type="disk"  weight="1" store_by="id">
            <files_dir path="/mnt/galaxy/data" />
        </backend>
    </backends>
</object_store>
