<toolbox monitor="true">
    <section id="interactivetools" name="Interactive Tools">
        <tool file="interactive/interactivetool_ethercalc.xml" />
        <tool file="interactive/interactivetool_rstudio.xml" />
        <!-- <tool file="interactive/interactivetool_jupyter_notebook.xml" /> -->
        <tool file="interactive/interactivetool_phinch.xml" />
        <tool file="interactive/interactivetool_cellxgene_0.16.2.xml" />
        <tool file="interactive/interactivetool_cellxgene_1.1.1.xml" />
        <tool file="interactive/interactivetool_isee.xml" />
        <tool file="interactive/interactivetool_pavian.xml" />
    </section>
</toolbox>
