AAGI_TOOL_LABEL = "aagi"
AAGI_ROLE = "aagi"


def hide_test_tools(context, tool):
    """Restrict tools with AAGI_TOOL_LABEL to AAGI_ROLE only."""
    if hasattr(tool, 'labels') and AAGI_TOOL_LABEL in tool.labels:
        user = context.trans.user
        return user is not None and any([
            role for role in user.all_roles()
            if role.name == AAGI_ROLE and not role.deleted
        ])
    return True
