test_tool_users = ["{{ test_tool_users | join('", "') }}"]
test_tool_label = "test"

def hide_test_tools(context, tool):
    """
    hide tools with 'test' tag from all but selected_users
    """
    if hasattr(tool, 'labels') and test_tool_label in tool.labels:
        user = context.trans.user
        return user and user.email in test_tool_users
    return True

def restrict_alphafold(context, tool):
    """
    Only let GA team and alphafold beta users see alphafold
    """
    if tool.id.startswith('toolshed.g2.bx.psu.edu/repos/galaxy-australia/alphafold2/alphafold'):
        return user and (user.email in test_tool_users or any([r for r in user.all_roles() if r.name == 'Alphafold']))
    return True