attached_volumes:
  - device: /dev/vdb
    partition: 1
    path: /mnt
    fstype: ext4

galaxy_job_dir: /mnt/tmp

nfs_exports:
  #- "{{ pulsar_custom_indices_dir }}  *(rw,async,no_root_squash,no_subtree_check)"
  - "{{ galaxy_job_dir }} 203.101.224.0/19(rw,async,no_root_squash,no_subtree_check)"
