---
- name: Add hosts to hosts template file
  import_tasks: add_hosts.yml
  vars:
    hosts_filename: "{{ hosts_template_file }}"
  when: hosts_template_file is defined

- name: Add Influx apt repository key (pre ubuntu 22.04)
  ansible.builtin.apt_key:
    url: https://repos.influxdata.com/influxdata-archive_compat.key
    state: present
  when: ansible_distribution_major_version is version('22', '<')

- name: Update the apt repos and base OS
  apt:
      upgrade: dist
      update_cache: yes
  become: yes
  become_user: root

- name: Install some common packages
  apt:
      name: "{{ common_packages }}"
      state: latest
  become: yes
  become_user: root

- name: Install group specific packages
  apt:
      name: "{{ group_packages }}"
      state: latest
  become: yes
  become_user: root
  when: group_packages is defined

- name: Add hosts to /etc/hosts
  import_tasks: add_hosts.yml
  vars:
    hosts_filename: "/etc/hosts"

- name: Add Galaxy group to relevant machines
  become: yes
  become_user: root
  group:
      name: "{{ galaxy_user.name }}"
      gid: "{{ galaxy_user.gid }}"
  when: add_galaxy_user is defined and add_galaxy_user == true

- name: Add Galaxy user to relevant machines
  become: yes
  become_user: root
  user:
      name: "{{ galaxy_user.name }}"
      uid: "{{ galaxy_user.uid}}"
      group: "{{ galaxy_user.group }}"
      shell: /bin/bash
  when: add_galaxy_user is defined and add_galaxy_user == true

- name: Add GALAXY_CONFIG_FILE env var to galaxy user's .bashrc
  lineinfile:
      line: "export GALAXY_CONFIG_FILE={{ galaxy_config_file }}"
      path: /home/galaxy/.bashrc
      owner: galaxy
      group: galaxy
  when: add_galaxy_user is defined and galaxy_config_file is defined

- name: Add ssl key if required
  include_tasks: ssl_key.yml
  when: create_ssh_key is defined and create_ssh_key == true

- name: Add machine users
  import_tasks: machine_users.yml

- name: Add extra ssh keys
  include_tasks: extra_keys.yml
  loop: "{{ extra_keys }}"
  loop_control:
    loop_var: extra_key

- name: Make sure cloud configured hostname control is not present
  file:
    path: /etc/cloud/cloud.cfg.d/07_hostnamefix.cfg
    state: absent
  become: yes
  become_user: root

- name: "Ensure that ssh connections are allowed through UFW"
  ufw:
    rule: allow
    name: 'OpenSSH'

- name: "Disable UFW until all allow rules are configured"
  ufw:
    state: disabled

- name: Create a nginx .htpasswd file if required
  htpasswd:
    path: /etc/nginx/.htpasswd
    name: "{{ htpass_username }}"
    password: "{{ htpass_password }}"
    owner: root
    group: galaxy
    mode: 0640
  when: create_nginx_htpasswd is defined and create_nginx_htpasswd == true
