- name: Add entries to ssh config
  blockinfile:
    marker: "# {mark} ANSIBLE MANAGED BLOCK (common role: add ssh config entries)"
    dest: "/home/ubuntu/.ssh/config"
    create: true
    block: |
        {% for host_group in ssh_config_entries %}
        {% for item in host_group.hosts %}
        Host {{ item }}
            HostName {{ hostvars[item][host_group.ip_field] }}
            User {{ host_group.user }}
            IdentityFile {{ host_group.id_file }}
        {% endfor %}
        {% endfor %}
