#Directory to copy the scripts to
stats_dir: ~/stats_collection

#Script settings
add_daily_stats: false
add_monthly_stats: false
add_utilisation_info: true
add_queue_info: false

#Virtualenv
virtualenv_dir: "{{ stats_dir }}/stats_venv"

# Influx settings
influx_url: "localhost"
influx_db_utilisation: "utilisation-db"
influx_db_queue: "queue-db"
influx_db_stats: "stats-db"

#Galaxy Database settings
db_server: localhost
database: galaxy
db_user: galaxy
db_port: 5432
db_password: ""

#db connection string
connection_string: "postgres://{{ db_user }}:{{ db_password }}@{{ db_server }}:{{ db_port }}/{{ database }}"

# Galaxy settings
galaxy_root: /mnt/galaxy/galaxy-app/
galaxy_config_dir: /mnt/galaxy/config/
galaxy_config_file: "{{galaxy_config_dir}}/galaxy.yml"
galaxy_mutable_config_dir: /mnt/galaxy/var/
galaxy_log_dir: /var/log/galaxy

#sinfo format string
sinfo_format: "%24n %.10C %.6t"
sinfo_hostname: "{{ ansible_hostname }}"

#variable to switch off posting to influx
stats_dry_run_only: False