# Specific settings for galaxy dev application/web server

# TO DO (25/2/22):
# object store
# /mnt/custom-indices: Do we want this volume?  Ask aarnet for extra volume
# tpv config for aarnet testing

# variables for attaching mounted volume to application server
attached_volumes:
  - device: /dev/vdb
    path: /mnt
    fstype: ext4
    partition: 1

certbot_domains:
- "{{ hostname }}"
# - "usegalaxy.org.au"
# - "www.usegalaxy.org.au"
- "*.interactivetoolentrypoint.interactivetool.usegalaxy.org.au"
certbot_dns_provider: cloudflare
certbot_dns_credentials:
  api_token: "{{ vault_dns_cloudflare_api_token }}"
dns-cloudflare-propagation-seconds: 60

nginx_ssl_servers:
  - galaxy
  - galaxy-gie-proxy

# gie proxy hostname
interactive_tools_server_name: "usegalaxy.org.au"

galaxy_repo: https://github.com/galaxyproject/galaxy.git
galaxy_commit_id: release_21.09

# total perspective vortex
tpv_version: '1.2.0'

# Mounts for various connections:
shared_mounts:  # TODO: /mnt/custom-indices from aarnet-misc-nfs
    - path: /mnt/ghost-galaxy-app
      src: "{{ hostvars['aarnet-misc-nfs']['internal_ip'] }}:/mnt/ghost-galaxy-app"
      fstype: nfs
      state: mounted
    - path: /mnt/tools
      src: "{{ hostvars['aarnet-misc-nfs']['internal_ip'] }}:/mnt/tools"
      fstype: nfs
      state: mounted
    - path: /mnt/custom-indices
      src: "{{ hostvars['aarnet-misc-nfs']['internal_ip'] }}:/mnt/custom-indices"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data-load-test  # TODO: Unmount and remove this after testing
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/mnt/user-data-load-test"
      fstype: nfs
      state: absent
    - path: /mnt/user-data-test  # TODO: Unmount and remove this after testing
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/user-data-test"
      fstype: nfs
      state: absent
    - path: /mnt/user-data
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/mnt/user-data"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data-2
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/mnt/user-data2"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data-3
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/mnt/user-data3"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data-4
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/mnt/user-data4"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data-5 # new file path for production aarnet
      src: "{{ hostvars['aarnet-user-nfs']['internal_ip'] }}:/mnt/user-data5"
      fstype: nfs
      state: mounted
    - path: /mnt/tmp
      src: "{{ hostvars['aarnet-job-nfs']['internal_ip'] }}:/mnt/tmp"
      fstype: nfs
      state: mounted
    - path: /mnt/files
      src: "galaxy-aust-exports.genome.edu.au:/Q0028_files"
      fstype: nfs
      state: mounted
    - path: /mnt/files2
      src: "galaxy-aust-exports.genome.edu.au:/mnt/files2"
      fstype: nfs
      state: mounted

galaxy_db_user_password: "{{ vault_aarnet_db_user_password }}"

# ansible-galaxy
galaxy_dynamic_job_rules_src_dir: files/galaxy/dynamic_job_rules/aarnet
galaxy_dynamic_job_rules_dir: "{{ galaxy_root }}/dynamic_job_rules"
galaxy_dynamic_job_rules:
  - total_perspective_vortex/aarnet_tpv_config.yml  # config file for aarnet testing
  - total_perspective_vortex/aarnet_tools.yml  # config file for aarnet testing
  # - total_perspective_vortex/tools.yml
  # - total_perspective_vortex/destinations.yml
  # - total_perspective_vortex/users.yml
  # - total_perspective_vortex/roles.yml
  # - total_perspective_vortex/interactive_tools.yml # leave these as mapped from job_conf for now
  # - total_perspective_vortex/default_tool.yml.j2 # a future version of galaxyproject.galaxy will allow listing templates here
  - dynamic_rules/destination_mapper.py  # TODO: get dynamic_rules out of job conf files
  - dynamic_rules/tool_destinations.yml
  - readme.txt

galaxy_tools_indices_dir: /mnt/tools
galaxy_custom_indices_dir: /mnt/custom-indices     
galaxy_tmp_dir: /mnt/tmp

galaxy_handler_count: 5

# galaxy_file_path: /mnt/user-data-3/test
galaxy_file_path: /mnt/tmp/temporary-user-data # TEST this path is for testing only, update to /mnt/user-data-5 for going to production 
nginx_upload_store_base_dir: "{{ galaxy_file_path }}/upload_store"
nginx_upload_store_dir: "{{ nginx_upload_store_base_dir }}/uploads"
nginx_upload_job_files_store_dir: "{{ nginx_upload_store_base_dir }}/job_files"

host_galaxy_config_files:
  - src: "{{ galaxy_config_file_src_dir }}/config/aarnet_object_store_conf.xml"  # TODO: This is the test object store and will need to be updated when aarnet is the production server
    dest: "{{ galaxy_config_dir }}/object_store_conf.xml"

host_galaxy_config_templates:
  - src: "{{ galaxy_config_template_src_dir }}/config/aarnet_job_conf.yml.j2"
    dest: "{{ galaxy_config_dir }}/job_conf.yml"
  # - src: "{{ galaxy_dynamic_job_rules_src_dir }}/total_perspective_vortex/default_tool.yml.j2"
  #   dest: "{{ galaxy_dynamic_job_rules_dir }}/total_perspective_vortex/default_tool.yml"
  - src: "{{ galaxy_config_template_src_dir }}/toolbox/filters/ga_filters.py.j2"  ## File cannot be created at dest on first run of playbook
    dest: "{{ galaxy_server_dir }}/lib/galaxy/tools/toolbox/filters/ga_filters.py"


host_galaxy_config:  # renamed from __galaxy_config
  uwsgi:
    mule:
      - lib/galaxy/main.py
      - lib/galaxy/main.py
      - lib/galaxy/main.py
      - lib/galaxy/main.py
      - lib/galaxy/main.py
    farm: job-handlers:1,2,3,4,5
  galaxy:
    admin_users: "{{ machine_users | selectattr('email', 'defined') | selectattr('roles', 'contains', 'galaxy_admin') | map(attribute='email') | join(',') }},{{ bpa_email }}"
    brand: "Australia"
    database_connection: "postgresql://galaxy:{{ vault_aarnet_db_user_password }}@{{ hostvars['aarnet-db']['internal_ip'] }}:5432/galaxy"
    id_secret: "{{ vault_aarnet_id_secret }}"
    file_path: "{{ galaxy_file_path }}"
    object_store_config_file: "{{ galaxy_config_dir }}/object_store_conf.xml"
    smtp_server: localhost
    ga_code: "{{ vault_prod_ga_code }}"  ## swich off ga_code while testing.  TODO: uncomment this when we go live
    interactivetools_enable: true
    interactivetools_map: "{{ gie_proxy_sessions_path }}"
    galaxy_infrastructure_url: 'https://usegalaxy.org.au'
    enable_oidc: true
    oidc_config_file: "{{ galaxy_config_dir }}/oidc_config.xml"
    oidc_backends_config_file: "{{ galaxy_config_dir }}/oidc_backends_config.xml"
    # nginx upload module
    nginx_upload_store: "{{ nginx_upload_store_dir }}"
    nginx_upload_path: '/_upload'
    nginx_upload_job_files_store: "{{ nginx_upload_job_files_store_dir }}"
    nginx_upload_job_files_path: '/_job_files'
    job_config_file: "{{ galaxy_config_dir }}/job_conf.yml"
    watch_job_rules: true  # important for total perspective vortex
    enable_mulled_containers: true
    enable_beta_containers_interface: true
    tool_filters: ga_filters:hide_test_tools,ga_filters:restrict_alphafold

# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs

# vars for setting up .pgpass
pg_db_password:
  galaxy: "{{ vault_aarnet_db_user_password }}"
  reader: "{{ vault_aarnet_db_reader_password }}"
  tiaasadmin: "{{ vault_aarnet_db_tiaasadmin_password }}"
db_address: "{{ hostvars['aarnet-db']['internal_ip'] }}"
gxadmin_ubuntu_config_dir: /home/ubuntu/.config

# vars for stats_collection
stats_dir: /home/ubuntu/stats_collection/
db_server: "{{ hostvars['aarnet-db']['internal_ip'] }}"
influx_url: "stats.usegalaxy.org.au"
db_password: "{{ galaxy_db_user_password }}"
influx_salt: "{{ prod_queue_size_salt }}"
sinfo_line_startswith: a
add_daily_stats: true #change this when aarnet is usegalaxy.org.au
add_monthly_stats: true
add_utilisation_info: true
add_queue_info: true #Change this when aarnet is usegalaxy.org.au

#Vars for TIaaS
tiaas_galaxy_db_host: "aarnet-db.usegalaxy.org.au"
tiaas_galaxy_db_port: "5432"
tiaas_galaxy_db_user: "tiaas"
tiaas_galaxy_db_pass: "{{ vault_aarnet_db_tiaas_password }}"
tiaas_info:
  owner: "Galaxy Australia"
  owner_email: help@genome.edu.au
  owner_site: "https://usegalaxy.org.au"
  domain: "usegalaxy.org.au"
tiaas_other_config: |
    EMAIL_HOST="localhost"
    EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
    EMAIL_TIMEOUT = 60
    TIAAS_SEND_EMAIL_TO = "help@genome.edu.au"
    TIAAS_SEND_EMAIL_FROM = "tiaas-no-reply@usegalaxy.org.au"

  # Create a cron job to disassociate training roles from groups after trainings have expired, set to `false` to disable
tiaas_disassociate_training_roles:
  hour: 9      # optional, defaults to 0
  minute: 0    # optional, defaults to 0

# AAF specific settings
aaf_issuer_url: "{{ vault_aaf_issuer_url_prod }}"
aaf_client_id: "{{ vault_aaf_client_id_prod }}"
aaf_client_secret: "{{ vault_aaf_client_secret_prod }}"

# remote-pulsar-cron variables
rpc_skip_cron_setup: true # TODO: Set to false once aarnet is the production galaxy
rpc_db_connection_string: "postgres://reader:{{ vault_aarnet_db_reader_password }}@aarnet-db.usegalaxy.org.au:5432/galaxy"

# TODO: Copy and paste this rpc_pulsar_machines from block from host_vars/pawsey.usegalaxy.org.au
# make sure all pulsars have the ubuntu_maintenance_key public key
# rpc_pulsar_machines:
#   - pulsar_name: pulsar-mel3
#     pulsar_ip_address: "{{ hostvars['pulsar-mel3']['ansible_ssh_host'] }}"
#     ssh_key: /home/ubuntu/.ssh/galaxy-australia
#     delete_jwds: true
#     keep_error_days: 7
#     cron_hour: "17"
#     cron_minute: "00"
#   - pulsar_name: pulsar-mel2
#     pulsar_ip_address: "{{ hostvars['pulsar-mel2']['ansible_ssh_host'] }}"
#     ssh_key: /home/ubuntu/.ssh/galaxy-australia
#     delete_jwds: true
#     keep_error_days: 7
#     cron_hour: "17"
#     cron_minute: "10"

extra_keys:
  - id: ubuntu_maintenance_key
    type: private

# grt-sender role
grt_sender_dir: /mnt/var/galactic_radio_telescope
grt_sender_api_key: "{{ vault_grt_api_key }}"
grt_sender_grt_url: https://telescope.usegalaxy.org.au/grt

# Docker
docker_users:
  - "{{ galaxy_user.name }}"
docker_daemon_options:
  data-root: /mnt/docker-data

# Singularity and docker volumes
slurm_singularity_volumes_list: # for production this needs /mnt/user-data 1,2,3,4 + /mnt/custom-indices, all ro
  - $job_directory:rw
  - $galaxy_root:ro
  - $tool_directory:ro
  - /mnt/user-data-5:rw
  - /mnt/user-data-4:ro
  - /mnt/user-data-3:ro
  - /mnt/user-data-2:ro
  - /mnt/user-data:ro
  - /mnt/files:ro
  - /mnt/files2:ro
  - /mnt/custom-indices:ro
  - /cvmfs/data.galaxyproject.org:ro

pulsar_singularity_volumes_list:
  - $job_directory:rw
  - $tool_directory:ro
  - /mnt/custom-indices:ro
  - /cvmfs/data.galaxyproject.org:ro

slurm_docker_volumes_list: "{{ slurm_singularity_volumes_list }}"
pulsar_docker_volumes_list: "{{ pulsar_singularity_volumes_list }}"

# comma separated strings for the job conf
slurm_singularity_volumes: "{{ slurm_singularity_volumes_list | join(',') }}"
pulsar_singularity_volumes: "{{ pulsar_singularity_volumes_list | join(',') }}"
slurm_docker_volumes: "{{ slurm_docker_volumes_list | join(',') }}"
pulsar_docker_volumes: "{{ pulsar_docker_volumes_list | join(',') }}"

singularity_default_container_id: '/cvmfs/singularity.galaxyproject.org/all/python:3.8.3'
