# Host specific Rabbit settings
rabbitmq_users:
  - user: admin
    password: "{{ rabbitmq_password_admin }}"
    tags: administrator
    vhost: /
  - user: telegraf
    password: "{{ rabbitmq_password_telegraf }}"
    tags: administrator
    vhost: /
  - user: galaxy
    password: "{{ rabbitmq_password_galaxy }}"
    vhost: galaxy
  - user: galaxy_mel2
    password: "{{ rabbitmq_password_galaxy_mel2 }}"
    vhost: /pulsar/galaxy_mel2
  - user: galaxy_mel3
    password: "{{ rabbitmq_password_galaxy_mel3 }}"
    vhost: /pulsar/galaxy_mel3
  - user: galaxy_paw
    password: "{{ rabbitmq_password_galaxy_paw }}"
    vhost: /pulsar/galaxy_paw
  - user: galaxy_hm1
    password: "{{ rabbitmq_password_galaxy_hm1 }}"
    vhost: /pulsar/galaxy_hm1
  - user: galaxy_hm2
    password: "{{ rabbitmq_password_galaxy_hm2 }}"
    vhost: /pulsar/galaxy_hm2
  - user: galaxy_nci_test
    password: "{{ rabbitmq_password_galaxy_nci_test }}"
    vhost: /pulsar/galaxy_nci_test
  - user: galaxy_nci_training
    password: "{{ rabbitmq_password_galaxy_nci_training }}"
    vhost: /pulsar/galaxy_nci_training
  - user: galaxy_qld_hm0
    password: "{{ rabbitmq_password_galaxy_qld_hm0 }}"
    vhost: /pulsar/galaxy_qld_hm0
  - user: galaxy_qld_hm1
    password: "{{ rabbitmq_password_galaxy_qld_hm1 }}"
    vhost: /pulsar/galaxy_qld_hm1
  - user: galaxy_qld_hm2
    password: "{{ rabbitmq_password_galaxy_qld_hm2 }}"
    vhost: /pulsar/galaxy_qld_hm2
  - user: galaxy_qld_blast
    password: "{{ rabbitmq_password_galaxy_qld_blast }}"
    vhost: /pulsar/galaxy_qld_blast
  - user: galaxy_QLD
    password: "{{ rabbitmq_password_galaxy_QLD }}"
    vhost: /pulsar/galaxy_QLD
  - user: galaxy_azure_0
    password: "{{ rabbitmq_password_galaxy_azure }}"
    vhost: /pulsar/galaxy_azure_0

rabbitmq_vhosts:
  - galaxy
  - /pulsar/galaxy_mel2
  - /pulsar/galaxy_mel3
  - /pulsar/galaxy_paw
  - /pulsar/galaxy_hm1
  - /pulsar/galaxy_hm2
  - /pulsar/galaxy_nci_test
  - /pulsar/galaxy_nci_training
  - /pulsar/galaxy_qld_hm0
  - /pulsar/galaxy_qld_hm1
  - /pulsar/galaxy_qld_hm2
  - /pulsar/galaxy_qld_blast
  - /pulsar/galaxy_QLD
  - /pulsar/galaxy_azure_0

rabbitmq_version: 3.8.16-1

rabbitmq_password_admin: "{{ vault_rabbitmq_password_admin_prod }}"
rabbitmq_password_telegraf: "{{ vault_rabbitmq_password_telegraf_prod }}"
rabbitmq_password_galaxy: "{{ vault_rabbitmq_password_galaxy_prod }}"
rabbitmq_password_galaxy_mel2: "{{ vault_rabbitmq_password_galaxy_mel2_prod }}"
rabbitmq_password_galaxy_mel3: "{{ vault_rabbitmq_password_galaxy_mel3_prod }}"
rabbitmq_password_galaxy_paw: "{{ vault_rabbitmq_password_galaxy_paw_prod }}"
rabbitmq_password_galaxy_hm1: "{{ vault_rabbitmq_password_galaxy_hm1_prod }}"
rabbitmq_password_galaxy_hm2: "{{ vault_rabbitmq_password_galaxy_hm2_prod }}"
rabbitmq_password_galaxy_nci_test: "{{ vault_rabbitmq_password_galaxy_nci_test }}"
rabbitmq_password_galaxy_nci_training: "{{ vault_rabbitmq_password_galaxy_nci_training_prod }}"
rabbitmq_password_galaxy_qld_hm0: "{{ vault_rabbitmq_password_galaxy_qld_hm0_prod }}"
rabbitmq_password_galaxy_qld_hm1: "{{ vault_rabbitmq_password_galaxy_qld_hm1_prod }}"
rabbitmq_password_galaxy_qld_hm2: "{{ vault_rabbitmq_password_galaxy_qld_hm2_prod }}"
rabbitmq_password_galaxy_qld_blast: "{{ vault_rabbitmq_password_galaxy_qld_blast_prod }}"
rabbitmq_password_galaxy_QLD: "{{ vault_rabbitmq_password_galaxy_QLD_prod }}"
rabbitmq_password_galaxy_azure: "{{ vault_rabbitmq_password_galaxy_azure_prod }}"

# Host specific Slurm settings
slurm_roles: ['controller', 'dbd']

slurm_database_user: slurm
slurm_database_user_password: "{{ mariadb_password_slurm }}"
slurm_database: 'slurm_acct_db'

add_hosts_workers: yes
add_hosts_galaxy: yes

#Mariadb

mariadb_root_pass: "{{ mariadb_password_root }}"
mariadb_options:
  innodb_buffer_pool_size: 1073741824
  innodb_log_file_size: 67108864
  innodb_lock_wait_timeout: 900
mariadb_users:
  - name: "{{ slurm_database_user }}"
    password: "{{ slurm_database_user_password }}"
    priv: '{{ slurm_database }}.*:ALL'
mariadb_databases:
  - name: '{{ slurm_database }}'

mariadb_password_slurm: "{{ vault_aarnet_mariadb_password_slurm }}"
mariadb_password_root: "{{ vault_aarnet_mariadb_password_root }}"

#Slurmdbd

slurmdbd_config:
  AuthType: auth/munge
  AuthInfo: /var/run/munge/munge.socket.2
  DbdHost: localhost
  StorageHost: localhost
  StorageLoc: "{{ slurm_database }}"
  StoragePass: "{{ slurm_database_user_password }}"
  StorageType: accounting_storage/mysql
  StorageUser: "{{ slurm_database_user }}"
  LogFile: /var/log/slurm-llnl/slurmdbd.log
  PidFile: /run/slurmdbd.pid
  SlurmUser: slurm
