# Host specific Rabbit settings
rabbitmq_container:
  name: rabbit_hole
  image: rabbitmq:3.11-management
  hostname: "{{ inventory_hostname }}"

rabbitmq_config:
  listeners:
    tcp: none
  ssl_listeners:
    default: 5671
  ssl_options:
    verify: verify_peer
    cacertfile: /etc/ssl/certs/fullchain.pem
    certfile: /etc/ssl/certs/cert.pem
    keyfile: /etc/ssl/user/privkey-999:999.pem
    fail_if_no_peer_cert: 'false'
  management_agent:
    disable_metrics_collector: "false"
  management:
    disable_stats: 'false'
  consumer_timeout: 21600000 # 6 hours in milliseconds

rabbitmq_users:
  - user: admin
    password: "{{ rabbitmq_password_admin }}"
    tags: administrator
    vhost: /
  - user: telegraf
    password: "{{ rabbitmq_password_telegraf }}"
    tags: administrator
    vhost: /
  - user: galaxy
    password: "{{ rabbitmq_password_galaxy }}"
    vhost: galaxy
  - user: galaxy_mel2
    password: "{{ rabbitmq_password_galaxy_mel2 }}"
    vhost: /pulsar/galaxy_mel2
  - user: galaxy_mel3
    password: "{{ rabbitmq_password_galaxy_mel3 }}"
    vhost: /pulsar/galaxy_mel3
  - user: galaxy_paw
    password: "{{ rabbitmq_password_galaxy_paw }}"
    vhost: /pulsar/galaxy_paw
  - user: galaxy_hm1
    password: "{{ rabbitmq_password_galaxy_hm1 }}"
    vhost: /pulsar/galaxy_hm1
  - user: galaxy_hm2
    password: "{{ rabbitmq_password_galaxy_hm2 }}"
    vhost: /pulsar/galaxy_hm2
  - user: galaxy_nci_test
    password: "{{ rabbitmq_password_galaxy_nci_test }}"
    vhost: /pulsar/galaxy_nci_test
  - user: galaxy_nci_training
    password: "{{ rabbitmq_password_galaxy_nci_training }}"
    vhost: /pulsar/galaxy_nci_training
  - user: galaxy_qld_hm0
    password: "{{ rabbitmq_password_galaxy_qld_hm0 }}"
    vhost: /pulsar/galaxy_qld_hm0
  - user: galaxy_qld_hm1
    password: "{{ rabbitmq_password_galaxy_qld_hm1 }}"
    vhost: /pulsar/galaxy_qld_hm1
  - user: galaxy_qld_hm2
    password: "{{ rabbitmq_password_galaxy_qld_hm2 }}"
    vhost: /pulsar/galaxy_qld_hm2
  - user: galaxy_qld_blast
    password: "{{ rabbitmq_password_galaxy_qld_blast }}"
    vhost: /pulsar/galaxy_qld_blast
  - user: galaxy_QLD
    password: "{{ rabbitmq_password_galaxy_QLD }}"
    vhost: /pulsar/galaxy_QLD
  - user: galaxy_azure_0
    password: "{{ rabbitmq_password_galaxy_azure }}"
    vhost: /pulsar/galaxy_azure_0
  - user: galaxy_queues
    password: "{{ rabbitmq_password_galaxy }}"
    vhost: /galaxy/galaxy_queues
  - user: flower
    password: "{{ rabbitmq_password_galaxy }}"
    vhost: /galaxy/galaxy_queues
    tags: administrator


# NGINX Letsencrypt bindings
nginx_selinux_allow_local_connections: true
nginx_servers:
  - redirect-ssl
nginx_enable_default_server: false
nginx_ssl_servers:
  - rabbitmq
nginx_conf_http:
  client_max_body_size: 1g
nginx_remove_default_vhost: true

nginx_ssl_role: usegalaxy_eu.certbot
nginx_conf_ssl_certificate: /etc/ssl/certs/fullchain.pem
nginx_conf_ssl_certificate_key: /etc/ssl/user/privkey-www-data.pem

rabbitmq_vhosts:
  - galaxy
  - /pulsar/galaxy_mel2
  - /pulsar/galaxy_mel3
  - /pulsar/galaxy_paw
  - /pulsar/galaxy_hm1
  - /pulsar/galaxy_hm2
  - /pulsar/galaxy_nci_test
  - /pulsar/galaxy_nci_training
  - /pulsar/galaxy_qld_hm0
  - /pulsar/galaxy_qld_hm1
  - /pulsar/galaxy_qld_hm2
  - /pulsar/galaxy_qld_blast
  - /pulsar/galaxy_QLD
  - /pulsar/galaxy_azure_0
  - /galaxy/galaxy_queues

rabbitmq_version: 3.12.1

rabbitmq_password_admin: "{{ vault_rabbitmq_password_admin_prod }}"
rabbitmq_password_telegraf: "{{ vault_rabbitmq_password_telegraf_prod }}"
rabbitmq_password_galaxy: "{{ vault_rabbitmq_password_galaxy_prod }}"
rabbitmq_password_galaxy_mel2: "{{ vault_rabbitmq_password_galaxy_mel2_prod }}"
rabbitmq_password_galaxy_mel3: "{{ vault_rabbitmq_password_galaxy_mel3_prod }}"
rabbitmq_password_galaxy_paw: "{{ vault_rabbitmq_password_galaxy_paw_prod }}"
rabbitmq_password_galaxy_hm1: "{{ vault_rabbitmq_password_galaxy_hm1_prod }}"
rabbitmq_password_galaxy_hm2: "{{ vault_rabbitmq_password_galaxy_hm2_prod }}"
rabbitmq_password_galaxy_nci_test: "{{ vault_rabbitmq_password_galaxy_nci_test }}"
rabbitmq_password_galaxy_nci_training: "{{ vault_rabbitmq_password_galaxy_nci_training_prod }}"
rabbitmq_password_galaxy_qld_hm0: "{{ vault_rabbitmq_password_galaxy_qld_hm0_prod }}"
rabbitmq_password_galaxy_qld_hm1: "{{ vault_rabbitmq_password_galaxy_qld_hm1_prod }}"
rabbitmq_password_galaxy_qld_hm2: "{{ vault_rabbitmq_password_galaxy_qld_hm2_prod }}"
rabbitmq_password_galaxy_qld_blast: "{{ vault_rabbitmq_password_galaxy_qld_blast_prod }}"
rabbitmq_password_galaxy_QLD: "{{ vault_rabbitmq_password_galaxy_QLD_prod }}"
rabbitmq_password_galaxy_azure: "{{ vault_rabbitmq_password_galaxy_azure_0_prod }}"
rabbitmq_password_galaxy_azure_1: "{{ vault_rabbitmq_password_galaxy_azure_1_prod }}"

# Host specific Slurm settings
slurm_roles: ["controller", "dbd"]

slurm_database_user: slurm
slurm_database_user_password: "{{ mariadb_password_slurm }}"
slurm_database: "slurm_acct_db"

add_hosts_workers: yes
add_hosts_galaxy: yes

#Mariadb

mariadb_root_pass: "{{ mariadb_password_root }}"
mariadb_options:
  innodb_buffer_pool_size: 1073741824
  innodb_log_file_size: 67108864
  innodb_lock_wait_timeout: 900
mariadb_users:
  - name: "{{ slurm_database_user }}"
    password: "{{ slurm_database_user_password }}"
    priv: "{{ slurm_database }}.*:ALL"
mariadb_databases:
  - name: "{{ slurm_database }}"

mariadb_password_slurm: "{{ vault_production_mariadb_password_slurm }}"
mariadb_password_root: "{{ vault_production_mariadb_password_root }}"

#Slurmdbd

__slurmdbd_config_default: # overriding this to remove deprecated SlurmctldPidFile (using this key breaks it)
  AuthType: auth/munge
  DbdPort: 6819
  SlurmUser: "{{ __slurm_user_name }}"
  # SlurmctldPidFile: "{{ __slurm_run_dir ~ '/slurmdbd.pid' if __slurm_debian else omit }}"
  LogFile: "{{ __slurm_log_dir ~ '/slurmdbd.log' if __slurm_debian else omit }}"

slurmdbd_config:
  AuthType: auth/munge
  AuthInfo: /var/run/munge/munge.socket.2
  DbdHost: localhost
  StorageHost: localhost
  StorageLoc: "{{ slurm_database }}"
  StoragePass: "{{ slurm_database_user_password }}"
  StorageType: accounting_storage/mysql
  StorageUser: "{{ slurm_database_user }}"
  PidFile: /run/slurmdbd.pid
  SlurmUser: slurm

# Variables for nginx and eu rabbitmq role

# Certbot
certbot_virtualenv_package_name: python3-virtualenv

certbot_auto_renew_hour: "{{ 23 |random(seed=inventory_hostname)  }}"
certbot_auto_renew_minute: "{{ 59 |random(seed=inventory_hostname)  }}"
certbot_auth_method: --webroot
certbot_install_method: virtualenv
certbot_auto_renew: yes
certbot_auto_renew_user: root
certbot_environment: production
certbot_well_known_root: /srv/nginx/_well-known_root
certbot_share_key_users:
  - www-data
certbot_share_key_ids:
  - "999:999"
certbot_post_renewal: |
    systemctl restart nginx || true
    docker restart rabbit_hole || true
certbot_domains:
 - "{{ hostname }}"
certbot_agree_tos: --agree-tos

#Install pip docker package for ansible
pip_install_packages:
  - name: docker

# rabbitmq_plugins:
#   - rabbitmq_management

nginx_check_conf: False

redis_requirepass: "{{ vault_redis_requirepass }}"
redis_bind_interface: 0.0.0.0

extra_keys:
  - id: internal_hop_key
    type: private
  - id: internal_hop_key
    type: public
    from: "{{ hostvars['galaxy-backup']['internal_ip'] }},{{ hostvars['galaxy']['internal_ip'] }},{{ hostvars['galaxy-handlers']['internal_ip'] }}"

# ssh config, only for ubuntu
ssh_config_id_file: "/home/{{ ssh_config_user }}/.ssh/internal_hop_key"
ssh_config_user: ubuntu
ssh_config_hosts: "{{ galaxy_group }}"
