volA_path: /mnt/volA
volB_path: /mnt/volB
volC_path: /mnt/volC

# volume A (~170 TB)
nfs_user_data_7_dir: "{{ volA_path }}/user-data-7"
nfs_data08_dir: "{{ volA_path }}/data08"
nfs_data11_dir: "{{ volA_path }}/data11"
nfs_data14_dir: "{{ volA_path }}/data14"
nfs_data16_dir: "{{ volA_path }}/data16"
nfs_data18_dir: "{{ volA_path }}/data18"
nfs_data19_dir: "{{ volA_path }}/data19"

# volume B (~50 TB)
nfs_data09_dir: "{{ volB_path }}/data09"
nfs_data12_dir: "{{ volB_path }}/data12"
nfs_data15_dir: "{{ volB_path }}/data15"
nfs_data17_dir: "{{ volB_path }}/data17"

# volume C (~42 TB)
nfs_data10_dir: "{{ volC_path }}/data10"
nfs_data13_dir: "{{ volC_path }}/data13"

attached_volumes:
  - device: /dev/vdb
    partition: 1
    path: "{{ volA_path }}"
    fstype: ext4
  - device: /dev/vdc
    partition: 1
    path: "{{ volB_path }}"
    fstype: ext4
  - device: /dev/vdd
    partition: 1
    path: "{{ volC_path }}"
    fstype: ext4

nfs_dirs:
  - "{{ nfs_user_data_7_dir }}"
  - "{{ nfs_data08_dir }}"
  - "{{ nfs_data09_dir }}"
  - "{{ nfs_data10_dir }}"
  - "{{ nfs_data11_dir }}"
  - "{{ nfs_data12_dir }}"
  - "{{ nfs_data13_dir }}"
  - "{{ nfs_data14_dir }}"
  - "{{ nfs_data15_dir }}"
  - "{{ nfs_data16_dir }}"
  - "{{ nfs_data17_dir }}"
  - "{{ nfs_data18_dir }}"
  - "{{ nfs_data19_dir }}"

nfs_exports:
  - "{{ volA_path }} {{ hostvars['galaxy'].internal_ip.split('.')[:-1] | join('.') }}.0/24(rw,async,no_root_squash,no_subtree_check)"
  - "{{ volB_path }} {{ hostvars['galaxy'].internal_ip.split('.')[:-1] | join('.') }}.0/24(rw,async,no_root_squash,no_subtree_check)"
  - "{{ volC_path }} {{ hostvars['galaxy'].internal_ip.split('.')[:-1] | join('.') }}.0/24(rw,async,no_root_squash,no_subtree_check)"

# internal ssh keys
extra_keys:
  - id: internal_hop_key
    type: public
    from: "{{ hostvars['galaxy']['internal_ip'] }},{{ hostvars['galaxy-backup']['internal_ip'] }},{{ hostvars['galaxy-queue']['internal_ip'] }},{{ hostvars['galaxy-handlers']['internal_ip'] }}"
