attached_volumes:
  - device: /dev/vdc
    path: /mnt
    fstype: ext4

galaxy_job_dir: /mnt/tmp

nfs_exports:
  - "{{ galaxy_job_dir }} 192.168.0.0/24(rw,async,no_root_squash,no_subtree_check)"

extra_keys:
  - id: ubuntu_maintenance_key
    type: public
    from: "{{ hostvars['pawsey']['ansible_ssh_host'] }},{{ hostvars['pawsey']['internal_ip'] }}"
