attached_volumes:
  - device: /dev/vdc
    path: /mnt
    fstype: ext4
  - device: /dev/vdd
    path: /user-data-2
    fstype: ext4
  - device: /dev/vde
    path: /user-data-3
    fstype: ext4
  - device: /dev/vdf
    path: /user-data-4
    fstype: ext4

galaxy_user_data_dir: /mnt/user-data
galaxy_user_data_2_dir: /user-data-2
galaxy_user_data_3_dir: /user-data-3
galaxy_user_data_4_dir: /user-data-4

nfs_exports:
  - "{{ galaxy_user_data_dir }} 192.168.0.0/24(rw,async,no_root_squash,no_subtree_check)"
  - "{{ galaxy_user_data_2_dir }} 192.168.0.0/24(rw,async,no_root_squash,no_subtree_check)"
  - "{{ galaxy_user_data_3_dir }} 192.168.0.0/24(rw,async,no_root_squash,no_subtree_check)"
  - "{{ galaxy_user_data_4_dir }} 192.168.0.0/24(rw,async,no_root_squash,no_subtree_check)"