pawsey_galaxy_server_address: "{{ hostvars['pawsey']['internal_ip'] }}/32"

postgresql_conf:
  # Postgresql settings from: https://pgtune.leopard.in.ua/#/ - recommended by @natefoo.
  # Inout settings:
  #   DB Version: 12
  #   OS Type: linux
  #   DB Type: web
  #   Total Memory (RAM): 32 GB
  #   CPUs num: 8
  #   Connections num: 500
  #   Data Storage: hdd
  - max_connections: 500       # Set to be the same as main
  - listen_addresses: "'*'"   # Allow remote connections
  - data_directory: "'/data/production'"
  - shared_buffers: 8GB
  - effective_cache_size: 24GB
  - maintenance_work_mem : 2GB
  - checkpoint_completion_target: 0.7
  - wal_buffers: 16MB
  - default_statistics_target: 100
  - random_page_cost: 4
  - effective_io_concurrency: 2
  - work_mem: 4194kB
  - min_wal_size: 1GB
  - max_wal_size: 4GB
  - max_worker_processes: 8
  - max_parallel_workers_per_gather: 4
  - max_parallel_workers: 8
  - max_parallel_maintenance_workers: 4

postgresql_pgdata: "/data/production"


postgresql_pg_hba_conf:
  - host all all "{{ pawsey_galaxy_server_address }}" md5 #The allowed connection to the database for the dev galaxy server.

postgresql_objects_users:
  - name: galaxy
    password: "{{ galaxy_pawsey_db_user_password}}"
    db: galaxy
    priv: "ALL"
  - name: galaxyftp
    password: "{{ vault_pawsey_db_galaxyftp_password }}"
    db: galaxy
    priv: "ALL"
  - name: reader
    password: "{{ vault_pawsey_db_reader_password }}"
    db: galaxy
postgresql_objects_privileges:
  - database: galaxy
    roles: reader
    objs: ALL_IN_SCHEMA
    privs: SELECT
postgresql_objects_databases:
  - name: galaxy
    owner: galaxy

galaxy_pawsey_db_user_password: "{{ vault_pawsey_db_user_password }}"

attached_volume_device: /dev/vdc
attached_volume_fstype: ext4
attached_volume_path: /data
