# Specific settings for galaxy dev application/web server

#TO DO:
# 

# 6. Mail server

certbot_domains:
- "{{ hostname }}"
- "usegalaxy.org.au"

# Use cloudstor branch and extra tool_conf file and user prefs for cloudstor tool
use_cloudstor_conf: true

# variables for attaching mounted volume to application server
galaxyserver_attached_volume_device: /dev/vdc
galaxyserver_attached_volume_path: /mnt
galaxyserver_attached_volume_fstype: ext4

# Mounts for various connections:

shared_mounts:
    - path: /mnt/ghost-galaxy-app
      src: "{{ hostvars['pawsey-misc-nfs']['internal_ip'] }}:/mnt/ghost-galaxy-app"
      fstype: nfs
      state: mounted
    - path: /mnt/tools-indices
      src: "{{ hostvars['pawsey-misc-nfs']['internal_ip'] }}:/mnt/tools-indices"
      fstype: nfs
      state: mounted
    - path: /mnt/user-data
      src: "{{ hostvars['pawsey-user-nfs']['internal_ip'] }}:/mnt/user-data"
      fstype: nfs
      state: mounted
    - path: /mnt/tmp
      src: "{{ hostvars['pawsey-job-nfs']['internal_ip'] }}:/mnt/tmp"
      fstype: nfs
      state: mounted
    - path: /mnt/files
      src: "galaxy-aust-exports.genome.edu.au:/Q0028_files"
      fstype: nfs
      state: mounted
    - path: /mnt/files2
      src: "galaxy-aust-exports.genome.edu.au:/mnt/files2"
      fstype: nfs
      state: mounted

galaxy_db_user_password: "{{ vault_pawsey_db_user_password }}"

# ansible-galaxy
galaxy_dynamic_job_rules_src_dir: files/galaxy/dynamic_job_rules/pawsey
galaxy_dynamic_job_rules_dir: "{{ galaxy_root }}/dynamic_job_rules"
galaxy_dynamic_job_rules:
  - dynamic_rules/destination_mapper.py
  - dynamic_rules/tool_destinations.yml
  - readme.txt

galaxy_tools_indices_dir: /mnt/tools-indices     
galaxy_tmp_dir: /mnt/tmp     

galaxy_handler_count: 5   ############# europe uses 5, this could be host specific

__galaxy_config:
  uwsgi:
    mule:
      - lib/galaxy/main.py
      - lib/galaxy/main.py
      - lib/galaxy/main.py
      - lib/galaxy/main.py
      - lib/galaxy/main.py
    farm: job-handlers:1,2,3,4,5
  galaxy:
    admin_users: "{{ machine_users | selectattr('email', 'defined') | map(attribute='email') | join(',') }}" # everyone is an admin on pawsey
    brand: "Australia"
    database_connection: "postgres://galaxy:{{ vault_pawsey_db_user_password }}@{{ hostvars['pawsey-db']['internal_ip'] }}:5432/galaxy"
    id_secret: "{{ vault_pawsey_id_secret }}"
    file_path: /mnt/user-data
    object_store_config_file: "{{ galaxy_config_dir }}/object_store_conf.xml"


# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs  ########### check this