---
    - name: Set .pgpass file and variables for gxadmin in .bashrc for all users
      include: pgpass_bashrc.yml
      loop: "{{ machine_users + [{'name': 'ubuntu'}] }}"
      loop_control:
        loop_var: machine_user
    - name: Ensure gxadmin config directory exists for all users including ubuntu
      file:
        path: "/home/{{ item }}/.config"
        state: directory
      with_items: "{{ (machine_users | map(attribute='name') | list) + ['ubuntu'] }}"
    - name: Ensure that all users + ubuntu have a copy of gxadmin-local.sh
      copy: 
        src: files/galaxy/gxadmin/gxadmin-local.sh
        dest: "/home/{{ item }}/.config/gxadmin-local.sh"
        mode: "755"
        group: "{{ item }}"
        owner: "{{ item }}"
        force: yes
      with_items: "{{ (machine_users | map(attribute='name') | list) + ['ubuntu'] }}"
      
