destinations:
  default:
    rules:
      - if: params.get('singularity_enabled')
        params:
            singularity_default_container_id: "{{ singularity_default_container_id }}"  
      - if: params.get('docker_enabled')
        params:
            docker_memory: '{mem}G'
            docker_sudo: false
  _slurm_destination:
    params:
        nativeSpecification: "--nodes=1 --ntasks={cores} --ntasks-per-node={cores} --mem={round(mem*1024)} --partition={partition}"
    rules:
      - if: params.get('singularity_enabled')
        params:
            singularity_volumes: "{{ slurm_singularity_volumes }}"
      - if: params.get('docker_enabled')
        params:
            docker_volumes: "{{ slurm_docker_volumes }}"
  _pulsar_destination:
    params:
      submit_native_specification: "--nodes=1 --ntasks={cores} --ntasks-per-node={cores} --mem={round(mem*1024)} --partition={partition}"
    rules:
      - if: params.get('singularity_enabled')
        params:
            singularity_volumes: "{{ pulsar_singularity_volumes }}"
            container_resolvers: 
                - type: explicit_singularity
                - type: mulled_singularity
        env:
            - name: SINGULARITY_CACHEDIR
              value: /mnt/pulsar/deps/singularity
            - name: SINGULARITY_TMPDIR
              value: /mnt/pulsar/deps/singularity/tmp

      - if: params.get('docker_enabled')
        params:
            docker_volumes: "{{ pulsar_docker_volumes }}"
            docker_set_user: '1000'
    
  slurm:
    inherits: _slurm_destination
    cores: 16
    mem: 62.5
    scheduling:
      accept:
        - slurm
  pulsar_destination:
    inherits: _pulsar_destination
    cores: 2
    mem: 7.76
    scheduling:
      accept:
        - dev-pulsar
      require:
        - pulsar
  pulsar-nci-test:
    inherits: _pulsar_destination
    cores: 16
    mem: 48.19
    scheduling:
      accept:
        - general
        - pulsar-nci-test
      require:
        - pulsar
  pulsar-eu-gpu-test:
    cores: 40
    mem: 107
    scheduling:
      accept:
        - general
      require:
        - pulsar
        - pulsar-eu-gpu-test
  pulsar-eu-gpu-alpha:
    cores: 40
    mem: 107
    gpus: 1
    scheduling:
      accept:
        - general
        - alphafold
      require:
        - pulsar
        - pulsar-eu-gpu-alpha
  pulsar-azure-0-std:  # TODO: this needs higher cores/mem for alphafold
    cores: 120
    mem: 2000
    gpus: 1
    scheduling:
      accept:
        - general
        - alphafold
        - offline
      require:
        - pulsar
        - pulsar-azure-0
  pulsar-azure-1-std:  # TODO: this needs higher cores/mem for alphafold
    cores: 24
    mem: 210
    gpus: 1
    scheduling:
      accept:
        - general
        - alphafold
      require:
        - pulsar
        - pulsar-azure-1
  pulsar-azure-0-docker:  # TODO: this needs higher cores/mem for alphafold
    cores: 6
    mem: 107
    gpus: 1
    scheduling:
      accept:
        - general
        - alphafold
        - offline
      require:
        - pulsar
        - pulsar-azure-docker
