tools:
  crop_id:
    cores: 4
    mem: 8
    env:
      DOCKERHUB_USERNAME: aagisupport
      DOCKERHUB_PASSWORD: "{{ aagi_dockerhub_password }}"
    params:
      docker_enabled: true
      docker_volumes: '$job_directory:ro,$tool_directory:ro,$job_directory/outputs:rw,$working_directory:rw'
      docker_sudo: false
      require_container: true
      docker_set_user: '1000'
      docker_cmd: 'docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD && docker'
    rules:
    - if: |
        not user or not 'aagi' in [role.name for role in user.all_roles() if not role.deleted]
      fail: |
        Access to this tool is restricted. Please submit a support ticket if you believe you should have access.
