tools:
  .*:  # ANY TOOL
    rules:
    # - id: oom_resubmit_increase_memory
    #   if: job is not None and job.state == "resubmitted" and hasattr(job, "resubmission_count")
    #   execute: |
    #     # save entity.mem as a string to delay evaluation
    #     entity.mem = f"min(({entity.mem}) * ({OOM_SCALING_FACTOR} ** {job.resubmission_count}), {OOM_SCALING_CAP})"
    - id: oom_resubmit_increase_memory_pre_26.2
      if: job is not None and job.state == "resubmitted" # and not hasattr(job, "resubmission_count")
      execute: |
        _resubmission_count = (
          int(job.destination_params.get('tpv_resubmission_count', 0))
          if job.destination_params else 0
        ) + 1
        entity.params['tpv_resubmission_count'] = _resubmission_count
        # save entity.mem as a string to delay evaluation
        entity.mem = f"min(({entity.mem}) * ({OOM_SCALING_FACTOR} ** {_resubmission_count}), {OOM_SCALING_CAP})"
