global:
  default_inherits: default

tools:  # test template variable for galaxy_root here {{ galaxy_root }}
  default:
    cores: 1
    mem: cores * 3.8
    env: {}
    context:
      partition: main
    scheduling:
      reject:
        - offline
    rules:
    - id: default_destination_debug_rule
      if: 1 == 1
      execute: |
        log.debug("********** PRINTING ENTITY CORES AND MEM")
        log.debug(f'cores: {str(entity.cores)}')
        log.debug(f'mem: {str(entity.mem)}')

    rank: |
      final_destinations = helpers.weighted_random_sampling(candidate_destinations)
      final_destinations
