tools:
  aagi_001:
    cores: 4
    mem: 8
    env:
      DOCKERHUB_USERNAME: aagisupport
      DOCKERHUB_PASSWORD: "{{ vault_aagi_dockerhub_password }}"
    params:
      docker_enabled: true
      docker_sudo: false
      require_container: true
      docker_cmd: 'docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD && docker'
    rules:
    - if: |
        not user or not 'aagi' in [role.name for role in user.all_roles() if not role.deleted]
      fail: |
        Access to this tool is restricted. Please submit a support ticket if you believe you should have access.
    scheduling:
      require:
        - slurm

  aagi_002:
    cores: 4
    mem: 8
    env:
      DOCKERHUB_USERNAME: aagisupport
      DOCKERHUB_PASSWORD: "{{ vault_aagi_dockerhub_password }}"
    params:
      docker_enabled: true
      docker_sudo: false
      require_container: true
      docker_cmd: 'docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD && docker'
    rules:
    - if: |
        not user or not 'aagi' in [role.name for role in user.all_roles() if not role.deleted]
      fail: |
        Access to this tool is restricted. Please submit a support ticket if you believe you should have access.
    scheduling:
      require:
        - slurm

  toolshed.g2.bx.psu.edu/repos/galaxy-australia/dorado/dorado/.*:
    cores: 8
    mem: 69
    gpus: 1
    params:
      singularity_enabled: true
      singularity_run_extra_arguments: --nv
    scheduling:
      accept:
      - pulsar
      require:
      - pulsar-qld-gpu-dev

  toolshed.g2.bx.psu.edu/repos/galaxy-australia/plot_ragtag_paf/plot_ragtag_paf/.*:
    params:
      singularity_enabled: true
