slurm_roles: ['exec']

add_hosts_head: yes

shared_mounts:
    - path: /mnt/galaxy
      src: pulsar-mel3:/mnt/galaxy
      fstype: nfs
      state: mounted
    - path: /mnt/pulsar
      src: pulsar-mel3:/mnt/pulsar
      fstype: nfs
      state: mounted
    - path: /mnt/files
      src: pulsar-mel3:/mnt/files
      fstype: nfs


# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs

#Attached volume
attached_volumes:
  - device: /dev/vdb
    path: /mnt
    fstype: ext4
