slurm_roles: ['exec']

add_hosts_head: yes

shared_mounts:
    - path: /mnt/galaxy
      src: pulsar-mel3:/mnt/galaxy
      fstype: nfs
      state: mounted
    - path: /mnt/pulsar
      src: pulsar-mel3:/mnt/pulsar
      fstype: nfs
      state: mounted


# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs