galaxy_uid: 10010
galaxy_gid: 10010

use_internal_ips: false

galaxy_cvmfs_server_urls:
  - domain: galaxyproject.org
    use_geoapi: yes
    urls:
      - "http://cvmfs1-psu0.galaxyproject.org/cvmfs/@fqrn@"
      - "http://cvmfs1-iu0.galaxyproject.org/cvmfs/@fqrn@"
      - "http://cvmfs1-tacc0.galaxyproject.org/cvmfs/@fqrn@"
      - "http://cvmfs1-mel0.gvl.org.au/cvmfs/@fqrn@"
      - "http://cvmfs1-ufr0.galaxyproject.eu/cvmfs/@fqrn@"

# cvmfs
cvmfs_cache_base: /mnt/var/lib/cvmfs

# Monitoring
grafana_server_url: http://stats.genome.edu.au:8086

# Monitoring
telegraf_agent_version: 1.16.3
telegraf_agent_package_method: repo
telegraf_agent_hostname: "{{ inventory_hostname }}"

telegraf_agent_output:
  - type: influxdb
    config:
      - urls = ["{{ grafana_server_url }}"]
      - database = "pulsar-mel3"
      - precision = "s"