name: Check tool destinations and job configuration

# # Controls when the action will run. Triggers the workflow on push or pull request
# # events but only for the master branch
on:
  pull_request:
    branches: [ master ]
    paths:
      - templates/galaxy/config/pawsey_job_conf.yml.j2
      - files/galaxy/dynamic_job_rules/pawsey/total_perspective_vortex/*  # check

# # A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # number of commits to fetch. 0 indicates all history for all branches and tags
    # Set up python environment
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    # Install python dependencies for check_files script
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install total-perspective-vortex==$TPV_VERSION pyyaml galaxy-data
      env:
        TPV_VERSION: '1.2.0'
    # Run check files script
    - name: Check vortex destination ids against job conf environment ids
      env:
        SETTING: github
      run: |
        import yaml
        with open('templates/galaxy/config/pawsey_job_conf.yml.j2') as handle:
            job_conf_destinations = yaml.safe_load(handle).get('execution', {}).get('environments', [])
        with open('files/galaxy/dynamic_job_rules/pawsey/total_perspective_vortex/destinations.yml') as handle:
            vortex_destinations = yaml.safe_load(handle).get('destinations', [])
        for vd in vortex_destinations:
            try:
                job_conf_env = job_conf_destinations[vd]
            except KeyError as e:
                raise Exception(f'Destination id {vd} not found in job config file')        
      shell: python
    - name: Run tpv lint on all vortex config files
      env:
        SETTING: github
      run: for f in files/galaxy/dynamic_job_rules/pawsey/total_perspective_vortex/*; do tpv lint $f; done